[staticMenu headerMenu]
code = "headerMenu"
==
<div class=" bg-white">

    <div class="table:container flex items-center justify-between px-2 py-2">

        <div class="block table_sm:hidden mr-4">
            <button class="flex">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5M12 17.25h8.25" />
                </svg>                  
            </button>
        </div>

        <div class="flex-1">
            <a href="/" class="block">
                <img src="{{ global.logo | first . path }}" alt="" class="block h-[25px] table_l:h-[30px] table_sm:h-[30px] w-auto laptop:h-auto">
            </a>
        </div>        

        <div class="text-xl table_sm:text-txt-22 laptop:text-txt-30 flex items-center">
            <div class="flex gap-2">
                {% for item in global.networks %}
                    <a href="{{ item.value }}" target="_blank">
                        <img src="{{ item.icon | media }}" alt="" class="block w-auto h-[20px] mob_l:h-[25px] table_sm:h-[31px]">
                    </a>
                {% endfor %}
            </div>
        </div>

        <div class="table_l:ml-8">
            {% partial 'cabinet/header-btn' %}
        </div>

    </div>

    <div class="bg-gray-100">
        <div class="container py-2 font-gilroy-medium">
            <div class="flex items-center gap-y-2 gap-x-3 table_l:gap-x-6 text-xs table_l:text-base flex-wrap">
                <a href="/#mainservises" class="flex items-center gap-2 hover:text-red-2">
                    <svg xmlns="http://www.w3.org/2000/svg" class="size-3 table_l:size-4 flex-none" fill="currentColor" viewBox="0 0 256 256"><path d="M224,128a8,8,0,0,1-8,8H40a8,8,0,0,1,0-16H216A8,8,0,0,1,224,128ZM40,72H216a8,8,0,0,0,0-16H40a8,8,0,0,0,0,16ZM216,184H40a8,8,0,0,0,0,16H216a8,8,0,0,0,0-16Z"></path></svg>
                    Услуги нашего сервиса
                </a>
                <a href="/servises/transportnye-uslugi/kupit-gos-nomer" class="flex items-center gap-2 hover:text-red-2">
                    <svg xmlns="http://www.w3.org/2000/svg" class="size-3 table_l:size-4 flex-none" fill="currentColor" viewBox="0 0 256 256"><path d="M240,104H229.2L201.42,41.5A16,16,0,0,0,186.8,32H69.2a16,16,0,0,0-14.62,9.5L26.8,104H16a8,8,0,0,0,0,16h8v80a16,16,0,0,0,16,16H64a16,16,0,0,0,16-16V184h96v16a16,16,0,0,0,16,16h24a16,16,0,0,0,16-16V120h8a8,8,0,0,0,0-16ZM69.2,48H186.8l24.89,56H44.31ZM64,200H40V184H64Zm128,0V184h24v16Zm24-32H40V120H216ZM56,144a8,8,0,0,1,8-8H80a8,8,0,0,1,0,16H64A8,8,0,0,1,56,144Zm112,0a8,8,0,0,1,8-8h16a8,8,0,0,1,0,16H176A8,8,0,0,1,168,144Z"></path></svg>
                    Каталог гос.номеров
                </a>
            </div>
        </div>
    </div>

</div>