[viewBag]
==
<?php
use Saybme\Ub\Classes\Servises\ServiseClass;
function onStart(){
    $q = new ServiseClass();
    $this['numberdata'] = Input::get();
    $this['numbers'] = $q->getCarnumber();
}
?>
==
<div class="">
    {% partial "breadcrumbs/items" items=breadcrumbs %}   
</div>

<div class="pt-2 pb-9">    

    <div class="flex items-start gap-x-10 flex-col table:flex-row">
        <div class="flex-1">

            <div class="mb-6">
                {% partial 'numbers/search-form' type=1 %}                
            </div>

            <h3 class="text-xl font-bold text-blue-2">Галерея продажи номеров</h3>
            <hr class="w-full my-3 border-gray-200">
            <div class=" mb-6 grid grid-cols-1 gap-2">
                {% for item in numbers %}
                    <div class="bg-white px-4 py-2 rounded-md border border-gray-100 flex items-center">
                        <div class="flex-1 flex gap-4 items-center">
                            <div class="w-1/4">
                                {% partial 'numbers/type' item=item %}
                            </div>
                            <div class="w-1/4">
                                <p class="text-xs leading-none">Размещен</p>
                                <p class="font-bold">{{ item.created_at | date('d.m.Y год.') }}</p>
                            </div>
                            <div class="w-1/4">
                                <p class="text-xs leading-none">Продавец</p>
                                <p class="font-bold">{{ item.user.phone }}</p>
                            </div>
                            <div class="w-1/4">
                                <p class="text-xs leading-none">Цена</p>
                                {% if item.type_price %}
                                    <p class="font-bold">{{ item.type_price }}</p>
                                {% else %}
                                    <p class="font-bold">от {{ item.sum_start }} руб.</p>
                                {% endif %}
                            </div>
                        </div>
                        <a href="{{ item.link }}" class="btn btn-red btn-sm">Подробнее</a>
                    </div>
                {% endfor %}
            </div>

            <div class="mb-6">
                <div class="alert-box-yellow">
                    <div class="">Если вы не нашли подходящий вариант в галереи продажи номеров, оставьте заказ по ниже указанной форме, ваш заказ попадает в ленту и при просмотре объявлений в ленте обязательно найдется тот, кто захочет вам продать желаемый номер, подобрать за вознаграждение или купить ваш номер.</div>
                </div>
            </div>

            <div class="text space-y-4">
                {{ page.content | content }}
            </div>
        </div>
        <div class="w-full table:w-[350px] flex-none table:sticky top-0">
            <div class="h-[140px] table:h-[500px] bg-white rounded-md flex items-center justify-center border border-gray-300">
                <span class="text-center uppercase text-gray-500 font-semibold">Здесь может быть <br> Ваша реклама</span>
            </div>
        </div>
    </div>

    <div class="mt-8">
        <h3 class="text-3xl font-bold text-blue-2 ubtitle">Перечень услуг {{ 'USERBOARD.RU' | ubtitle }}</h3>
        <hr class="mt-3 w-full">
        <div class="mt-8">
            {% partial '::all' items=servises %}            
        </div>
    </div>

</div>