<div class="form-control">
    <label class="label cursor-pointer">        
        <input type="radio" name="{{ name }}[gender]" value="Мужской" class="radio checked:bg-red-500" checked />
        <span class="label-text ml-2">Мужской</span> 
    </label>
</div>

<div class="form-control">
    <label class="label cursor-pointer">        
        <input type="radio" name="{{ name }}[gender]" value="Женский" class="radio checked:bg-red-500" />
        <span class="label-text ml-2">Женский</span> 
    </label>
</div>