{% if type == 1 %}

<div class="mt-4 flex gap-4">
    {% partial 'boxes/gender' name=fiz_gender %}
</div>

<div class="grid grid-cols-3 gap-4 mt-2">                
    <div class="">
        <label for="" class="block w-full text-sm mb-1">Фамилия</label>
        <input type="text" value="" name="" class="input input-bordered w-full" placeholder="" id="">
        <span data-validate-for="" class="text-error mt-2 text-xs"></span>
    </div> 
    <div class="">
        <label for="" class="block w-full text-sm mb-1">Имя</label>
        <input type="text" value="" name="" class="input input-bordered w-full" placeholder="" id="">
        <span data-validate-for="" class="text-error mt-2 text-xs"></span>
    </div> 
    <div class="">
        <label for="" class="block w-full text-sm mb-1">Отчество</label>
        <input type="text" value="" name="" class="input input-bordered w-full" placeholder="" id="">
        <span data-validate-for="" class="text-error mt-2 text-xs"></span>
    </div> 
    <div class="">
        <label for="" class="block w-full text-sm mb-1">СНИЛС</label>
        <input type="text" value="" name="" class="input input-bordered w-full" placeholder="" id="">
        <span data-validate-for="" class="text-error mt-2 text-xs"></span>
    </div> 
    <div class="">
        <label for="" class="block w-full text-sm mb-1">Страна рождения</label>
        <input type="text" value="" name="" class="input input-bordered w-full" placeholder="" id="">
        <span data-validate-for="" class="text-error mt-2 text-xs"></span>
    </div> 
    <div class="">
        <label for="" class="block w-full text-sm mb-1">Место рождения</label>
        <input type="text" value="" name="" class="input input-bordered w-full" placeholder="" id="">
        <span data-validate-for="" class="text-error mt-2 text-xs"></span>
    </div> 
    <div class="">
        <label for="" class="block w-full text-sm mb-1">Гражданство</label>
        <input type="text" value="" name="" class="input input-bordered w-full" placeholder="" id="">
        <span data-validate-for="" class="text-error mt-2 text-xs"></span>
    </div> 
    <div class="">
        <label for="" class="block w-full text-sm mb-1">Дата рождения</label>
        <input type="date" value="" name="" class="input input-bordered w-full" placeholder="" id="">
        <span data-validate-for="" class="text-error mt-2 text-xs"></span>
    </div> 
    <div class="">
        <label for="" class="block w-full text-sm mb-1">Контактный телефон</label>
        <input type="text" value="" name="" class="input input-bordered w-full" placeholder="" id="">
        <span data-validate-for="" class="text-error mt-2 text-xs"></span>
    </div> 
</div>    

<div class="mt-2">
    <label for="" class="block w-full text-sm mb-1">Адрес электронной почты</label>
    <input type="email" value="" name="" class="input input-bordered w-full" placeholder="" id="">
    <span data-validate-for="" class="text-error mt-2 text-xs"></span>
</div> 

{% endif %}

{% if type == 2 %}
<div class="mt-4 flex gap-4">
    {% partial 'boxes/gender' name=fiz_gender %}
</div>

<div class="grid grid-cols-3 gap-4 mt-2">                
    <div class="">
        <label for="" class="block w-full text-sm mb-1">Фамилия</label>
        <input type="text" value="" name="" class="input input-bordered w-full" placeholder="" id="">
        <span data-validate-for="" class="text-error mt-2 text-xs"></span>
    </div> 
    <div class="">
        <label for="" class="block w-full text-sm mb-1">Имя</label>
        <input type="text" value="" name="" class="input input-bordered w-full" placeholder="" id="">
        <span data-validate-for="" class="text-error mt-2 text-xs"></span>
    </div> 
    <div class="">
        <label for="" class="block w-full text-sm mb-1">Отчество</label>
        <input type="text" value="" name="" class="input input-bordered w-full" placeholder="" id="">
        <span data-validate-for="" class="text-error mt-2 text-xs"></span>
    </div> 
    <div class="">
        <label for="" class="block w-full text-sm mb-1">Дата рождения</label>
        <input type="date" value="" name="" class="input input-bordered w-full" placeholder="" id="">
        <span data-validate-for="" class="text-error mt-2 text-xs"></span>
    </div> 
    <div class="">
        <label for="" class="block w-full text-sm mb-1">Контактный телефон</label>
        <input type="text" value="" name="" class="input input-bordered w-full" placeholder="" id="">
        <span data-validate-for="" class="text-error mt-2 text-xs"></span>
    </div> 
    <div class="">
        <label for="" class="block w-full text-sm mb-1">Адрес электронной почты</label>
        <input type="text" value="" name="" class="input input-bordered w-full" placeholder="" id="">
        <span data-validate-for="" class="text-error mt-2 text-xs"></span>
    </div>     
</div>    
{% endif %}