{% if user.utype.id == 2 %}
    <div class="py-4 px-4 rounded-lg bg-white mb-4">
        <h3 class="text-xl font-gilroy-medium">Контакты:</h3>
        <div class="">Пользователь: {{ page.user.phone }}</div>
        <div class="mt-3" id="statusApp">
            {% partial 'app-page/status' page=page %}            
        </div>
    </div>
{% endif %}

<div class="font-gilroy-medium space-y-2 mob_l:space-y-5">   

    <h2 class="text-xl mob_l:text-2xl font-bold text-blue-2 mb-4">Номер заявления: №{{ page.num }}</h2>

    <div class="mb-4 py-2 mob_l:py-4 px-2 mob_l:px-4 rounded-lg bg-white">
        {% partial 'cabinet/form-breadcrumbs' breadcrumbs=breadcrumbs %}        
    </div>        
    

    {% for key, rows in page.appcontent %}        
        <div class="py-2 mob_l:py-4 px-2 mob_l:px-4 rounded-lg bg-white"> 
            <h3 class="text-base mob_l:text-xl font-semibold text-blue-2">{{ key }}</h3>
            <hr class="my-2">
            <div class="space-y-1 text-xs mob_l:text-base">
                {% for item in rows.items %}      
                    <div class="">
                        {% partial 'applications/values' page=page item=item %}
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endfor %}

    {% if page.price %}
        <div class="mb-4 border-l-4 border-yellow-500 pl-5 bg-yellow-50 py-2 flex flex-col gap-y-3">
            <div class="me-8 flex-1">
                <ul class="list-disc ml-5 text-xs mob_l:text-base">
                    {% for item in page.prices %}
                        <li class="">{{ item }}</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="flex-none text-nowrap text-xl mob_l:text-3xl">
                <b class="text-red-1">{{ page.price }}</b> руб.
            </div>
            {% if user.utype.id != 2 %}
                
                {% if page.payment.link %}
                    <div class="">
                        <a href="{{ page.payment.link }}" target="_blank" class="px-4 py-2 bg-blue-2 text-white rounded-lg hover:bg-blue-3 transition">Оплатить</a>
                    </div>
                {% else %}
                <div class="">
                    <form data-request="onPay" data-request-validate>
                        <input type="hidden" name="app_id" value="{{ page.id }}">
                        <input type="hidden" name="description" value="{{ page.name }}">
                        <input type="hidden" name="sum" value="{{ page.price }}">
                        <input type="hidden" name="user" value="{{ user.id }}">
                        <button class="px-4 py-2 bg-blue-2 text-white rounded-lg hover:bg-blue-3 transition" loading>Оплатить</button>
                    </form>
                </div>
                {% endif %}
                
            {% endif %}
            
        </div>
    {% endif %}
 

</div>