<form action="" id="formApp" data-request="onApp" class="font-semibold block w-full" data-request-validate data-request-files>

    <div class="mb-4">
        {% partial 'cabinet/form-breadcrumbs' breadcrumbs=breadcrumbs %}        
    </div>

    <input type="hidden" name="form" value="{{ form.id }}">
    <input type="hidden" name="page_id" value="{{ page.id }}">

    <h3 class="text-xl font-semibold">Порядок и условия подачи заявления в электронном виде</h3>

    <div class="mt-5">
        {% partial 'cabinetforms/reg-alert' type=1 %}
    </div>

    <div class="mt-5">
        {% partial 'cabinetforms/reg-alert' type=2 %}
    </div>    

    <div class="mt-5 bg-white rounded-lg p-5">
        <div class="">
            <h2 class="form-title">1. Сведения о транспортном средстве</h2>
        </div>  
        
        <div class="mt-5">
            {% partial 'inputs/radio' input=ube442f58019d82168c37b39726df8a975 %} 
        </div>

        <div class="mt-5 flex mob_l:gap-x-5 flex-wrap flex-col mob_l:flex-row gap-y-4">
            <div class="">
                {% partial 'inputs/text' input=ub43a8ce8e7f4f3d7b84ad7ba455d0a267 %}
            </div>
            <div class="flex-1">
                {% partial 'inputs/text' input=ub5059834ee0a01d5e0cd0a409744df719 %}
            </div>
        </div>  

        <div class="mt-5 grid grid-cols-2 gap-5">
            <div class="">
                {% partial 'inputs/text' input=ub5e09aaa60df4b911371f4a504b6db265 %}
            </div>
            <div class="">
                {% partial 'inputs/text' input=ub33e44c203ef614f0aa8fae178091f53a %}
            </div>    
        </div>

        <div class="mt-5">
            <div class="alert-box-yellow">Одно из 3-х, VIN, кузов, или шасси должны быть указаны  </div>
        </div>

    </div>      

    <div class="mt-5 bg-white rounded-lg p-5">
        <h3 class="form-title">2. Где будете получать номера?</h3>
        <div class="mt-5">
            {% partial 'cabinetforms/reg-alert' type=3 %}
        </div>
        <div class="mt-5">
            {% partial 'cabinetforms/reg-alert' type=4 %}
        </div>
        <div class="mt-5 ">
            {% partial 'inputs/radio' input=ub444ad693f15f068221c47be0381e92f5 code='gde' ajax='calcSumForm()' %} 
        </div>
    </div>

    <div class="mt-5 bg-white rounded-lg p-5">
        <h3 class="form-title">3. Документы о праве собственности</h3>
        <h4 class="text-sm/none mob_l:text-xl font-bold mt-2">Укажите данные документа о праве собственности</h4>
        <div class="mt-5">
            {% partial 'inputs/file' input=ub8439f0cd631b42f1b6566dc19784dec8 %}
        </div>
        <div class="mt-5 space-y-5">
            <div class="">
                {% partial 'inputs/select' input=ub6e1bac151ca4544de92624e8f7b20efd %}
            </div>
            <div class="">
                {% partial 'inputs/select' input=ub19c9ab27bfbe0e631815fcdab608a51b %}
            </div>
            <div class="">
                {% partial 'inputs/text' input=ubdb7e4a8c1412d13a0eda7dac233a35eb %}
            </div>
            <div class="">
                {% partial 'inputs/text' input=ub4a48e406c4efe9157f1ad10eb82d0926 %}
            </div>
            <div class="">
                {% partial 'inputs/text' input=ub5a4848047c2ca07da67387b605a7aaac %}
            </div>
            <div class="">
                {% partial 'inputs/text' input=ubdc3bbdb2dfaa3f900fa83abce8ea3391 %}
            </div>
            <div class="">
                {% partial 'inputs/text' input=ubd94623a43756ecf43cf9615b6f8244e6 %}
            </div>
            
        </div>
    </div>    

    <div class="mt-5 bg-white rounded-lg p-5">
        <h3 class="form-title">4. Ваши данные</h3>
        <div class="mt-5 ">
            {% partial 'inputs/radio' input=ubdba79af71ac2deaf6484261df2444110 %}
        </div>
        <div class="mt-5 grid mob_l:grid-cols-3 gap-5">
            <div class="">
                {% partial 'inputs/text' input=ub170776f51d34ed8f220a289e4a5ad634 %}
            </div>    
            <div class="">
                {% partial 'inputs/text' input=uba706519c379acc0c683f4e1d6a91df51 %}
            </div> 
            <div class="">
                {% partial 'inputs/text' input=ub18f022a3416651dd6a8b6ada85be3963 %}
            </div> 
        </div>
        <div class="mt-5 grid mob_l:grid-cols-3 gap-5">
            <div class="">
                {% partial 'inputs/text' input=ubed542dd836d1f4e813c62f8a629c2348 %}
            </div>    
            <div class="">
                {% partial 'inputs/text' input=ubef8bfdb6d541b617691636a31bf66fe1 %}
            </div> 
            <div class="">
                {% partial 'inputs/text' input=ubf66ae79532a6930ff24a047509527961 %}
            </div> 
        </div>
        <div class="mt-5 grid mob_l:grid-cols-3 gap-5">
            <div class="">
                {% partial 'inputs/text' input=ub85906fc10922beaa9ca1a32cd8ebb0e3 %}
            </div> 
            <div class="">
                {% partial 'inputs/text' input=ub4bc6b6af3a5f137c18d5ed5309986481 %}
            </div> 
            <div class="">
                {% partial 'inputs/text' input=ub9195dae5a252d6e88b5977976278ffae %}
            </div> 
        </div>
        <div class="mt-5">
            {% partial 'inputs/text' input=ubea367e6566c05bbe6b1e37f447e73f4b %}
        </div> 
    </div>

    <div class="mt-5 bg-white rounded-lg p-5">
        <h3 class="form-title">5. Где вы будете регистрировать транспортное средство?</h3>      
        <div class="mt-5">
            {% partial 'inputs/address' input=ub01729c32ec65c57d52a522c0a24a5741 %}
        </div>  
    </div>      

    <div class="mt-5 bg-white rounded-lg p-5">
        <h3 class="form-title">6. Укажите дату и время постановки на регистрационный учет</h3>
        <div class="mt-5">            
            {% partial 'inputs/text' input=ub76a4e5878a8e9f4abdd40648ea69abcc %}         
        </div>
        <div class="mt-5">
            {% partial 'cabinetforms/reg-alert' type=5 %}
        </div>
        <div class="mt-5">
            {% partial 'cabinetforms/check' gos='1' %}            
        </div>
    </div>

    <div class="mt-5 form-group">
        <div class="mt-5">
            {% partial 'cabinetforms/prices' %}             
        </div>   
        <div class="mt-5 border-l-4 border-yellow-500 pl-5 bg-yellow-50 py-2">
            <p class="font-bold text-base mob_l:text-lg">Госпошлина не оплачивается</p>
            <p class="text-xs mob_l:text-sm">
                в случае прекращения (снятия с учета) ТС, за исключением случая вывоза ТС за границу
                Внимание! Оплата производиться только после того как наш оператор свяжется с Вами по телефону и подтвердит регистрацию заявки                
            </p>
        </div>       
        <div class="mt-5">
            <div class="" id="resultSum">
                {% partial 'cabinetforms/form_total' %}                
            </div>
            <div class="font-bold text-yellow-600 mt-5 text-xs mob_l:text-base">
                Внимание! О ходе рассмотрения заявки Вы будете, проинформированы нашим оператором путем дозвона (убедительная просьба после заполнения заявки оставаться на связи. В случае неудачной попытки связаться с Вами, мы вынуждены будем Вашу заявку отклонить)
            </div>
        </div>
        <input type="hidden" name="prices" value="" id="formPrices">
        <input type="hidden" name="price" value="" id="formPrice">
        <div class="mt-5">
            <button class="btn btn-red w-full max-w-[200px]" data-attach-loading>ОТПРАВИТЬ</button>
        </div> 
    </div>

</form>