<form action="" id="formApp" data-request="onApp" class="font-semibold block w-full" data-request-validate data-request-files>

    <div class="mb-4">
        {% partial 'cabinet/form-breadcrumbs' breadcrumbs=breadcrumbs %}        
    </div>

    <input type="hidden" name="form" value="{{ form.id }}">
    <input type="hidden" name="page_id" value="{{ page.id }}">

    <h3 class="text-xl font-semibold">Порядок и условия подачи заявления в электронном виде</h3>

    <div class="mt-5">
        {% partial 'cabinetforms/reg-alert' type=1 %}
    </div>

    <div class="mt-5">
        {% partial 'cabinetforms/reg-alert' type=2 %}
    </div>

    <div class="mt-5 bg-white rounded-lg p-5">
        <div class="">
            <h2 class="form-title">1. Сведения о транспортном средстве</h2>
        </div>       
        <div class="mt-5 ">         
            {% partial 'inputs/radio' input=ub44f1a2eeb30774b24ea20af5d79e126e code='transport' ajax='calcSumForm()' %}     
        </div>        
        <div class="mt-5 flex gap-x-5 flex-wrap flex-col mob_l:flex-row gap-y-5">
            <div class="">
                {% partial 'inputs/text' input=uba16edcd113b0a86eea781b5d48f1ea23 %}
            </div>
            <div class="flex-1">
                {% partial 'inputs/text' input=ub695a37e04bb2d54f6358a4a78bc71e28 %}
            </div>
        </div>    
        <div class="mt-5 grid grid-cols-2 gap-5">
            <div class="">
                {% partial 'inputs/text' input=ub0c2f87e8ba4af6b986052fd78e5b52ae %}
            </div>
            <div class="">
                {% partial 'inputs/text' input=ubd3f3164e9cb6c020a79c7f565fe5b9c5 %}
            </div>
        </div> 
        <div class="mt-5">
            <div class="alert-box-yellow">Одно из 3-х, VIN, кузов, или шасси должны быть указаны  </div>
        </div>    
    </div> 

    <div class="mt-5 bg-white rounded-lg p-5">
        <h3 class="form-title">2. Где будете получать номера?</h3>
        <div class="mt-5">
            {% partial 'cabinetforms/reg-alert' type=3 %}
        </div>
        <div class="mt-5">
            {% partial 'cabinetforms/reg-alert' type=4 %}
        </div>
        <div class="mt-5 ">
            {% partial 'inputs/radio' input=ub55d4559ffdd9cbae6a24dc54b381a8a8 code='gde' ajax='calcSumForm()' %}             
        </div>
    </div>

    <div class="mt-5 bg-white rounded-lg p-5">
        <h3 class="form-title">3. Документы о праве собственности</h3>
        <h4 class="text-sm/none mob_l:text-xl font-bold mt-2">Укажите данные документа о праве собственности</h4>
        <div class="mt-5">
            {% partial 'inputs/file' input=ub242dc0e5f48ba406e8d305353c0ed28b %}
        </div>
        <div class="mt-5 space-y-5">
            <div class="">
                {% partial 'inputs/select' input=ub2b6abe7daea245046cefa9b483bd3cce %}  
            </div>
            <div class="">
                {% partial 'inputs/select' input=ub83a323afd4d76f8e622418c06bc36140 %}  
            </div>
            <div class="">
                {% partial 'inputs/text' input=ub30c209264a4ac367a4e2c793dde576fe %}
            </div>
            <div class="">
                {% partial 'inputs/text' input=ubaf25012e3918e1b7ec05dbc05e828172 %}
            </div>
            <div class="">
                {% partial 'inputs/text' input=ub52e93d3ec094cae51494f6891a5d6757 %}
            </div>
            <div class="">
                {% partial 'inputs/text' input=ubb8a3f8b5a5e4980658fb42076a446863 %}
            </div>
            <div class="">
                {% partial 'inputs/text' input=ub8397220625f7bfe71d432ec72bed41a1 %}
            </div>
            
        </div>
    </div>    

    <div class="mt-5 bg-white rounded-lg p-5">
        <h3 class="form-title">4. Ваши данные</h3>
        <div class="">
            {% partial 'inputs/radio' input=ub1925689e5109e345b6a33f3866b36418 %}   
        </div>
        <div class="mt-5 grid mob_l:grid-cols-3 gap-5">
            <div class="">
                {% partial 'inputs/text' input=ub0c980201bef135ab8af8eaecd5fced26 %}
            </div>    
            <div class="">
                {% partial 'inputs/text' input=ubeda3de53dd44fe9ee598fc3ee1380947 %}
            </div> 
            <div class="">
                {% partial 'inputs/text' input=ub64901bceeee2e805d42d7e5f95f16613 %}
            </div> 
        </div>
        <div class="mt-5 grid mob_l:grid-cols-3 gap-5">
            <div class="">
                {% partial 'inputs/text' input=ub1ee21b297140fa08d6201dde4d850840 %}
            </div>    
            <div class="">
                {% partial 'inputs/text' input=ub9ad115613a6bde79fcd29027d3be0d4c %}
            </div> 
            <div class="">
                {% partial 'inputs/text' input=ubb645ac3872948cfad39c26f6e3001419 %}
            </div> 
        </div>
        <div class="mt-5 grid mob_l:grid-cols-3 gap-5">
            <div class="">
                {% partial 'inputs/text' input=ubeea88dbf88738361393fd63e75d2ed0e %}
            </div> 
            <div class="">
                {% partial 'inputs/text' input=ub67f1ccea04d0f168e25708ba5391a842 %}
            </div> 
            <div class="">
                {% partial 'inputs/text' input=ubbec2180c8c25fc929630293e8b678977 %}
            </div> 
        </div>
        <div class="mt-5">
            {% partial 'inputs/text' input=ubfa5bd0c99195bc3f7d043e89ab099972 %}
        </div> 
    </div>    
    

    <div class="mt-5 bg-white rounded-lg p-5">
        <h3 class="form-title">5. Укажите данные доверенности</h3>        
        <div class="mt-5 grid gap-5">
            <div class="">
                {% partial 'inputs/select' input=ub9d9f233d12cc2d1463347348a8f7916b %}                
            </div>
            <div class="">    
                {% partial 'inputs/text' input=ub4123c97fbf05ac3b84b3cf23ab1372ab %}    
            </div>
            <div class="">    
                {% partial 'inputs/text' input=ubdc094888b4470e507ea240f565024f1b %}    
            </div>
            <div class="">    
                {% partial 'inputs/text' input=ub1065f95f61231b7112fdbd6715bb1d56 %}    
            </div>
            <div class="">    
                {% partial 'inputs/text' input=ub624340b88f4e7cab62917e7691e10c5e %}    
            </div>
        </div>
    </div>

    <div class="mt-5 bg-white rounded-lg p-5">
        <h3 class="form-title">6. Укажите сведения о собственнике</h3>    
        <div class="mt-5 grid mob_l:grid-cols-3 gap-5">
            <div class="">    
                {% partial 'inputs/text' input=ub676bd20415913c4c238bdc4622ce9bce %}    
            </div>
            <div class="">    
                {% partial 'inputs/text' input=ubdf0b75be2e889edd17b1ac719c330b3b %}    
            </div>
            <div class="">    
                {% partial 'inputs/text' input=ub52c9165e88666dd76d0e6e5e74eb213d %}    
            </div>
        </div>
        <div class="mt-5">    
            {% partial 'inputs/text' input=ube12ad788c0555a740a5948d66f78f3da %}    
        </div>
        <div class="mt-5">    
            {% partial 'inputs/radio' input=ub72aafd099c8efe60a83fbc09c563bb25 %}    
        </div>
        <div class="mt-5 grid gap-5 mob_l:grid-cols-3">
            <div class="">
                {% partial 'inputs/text' input=ub401997ee84623e6be765cc1457f2eabd %}       
            </div>
            <div class="">
                {% partial 'inputs/text' input=ubc54a91753584aa0605fe8f6a5d06cd1a %}       
            </div>
            <div class="">
                {% partial 'inputs/text' input=ub4b95bde7ecbf1fc232a084be7fad2149 %}       
            </div>
        </div>
        <div class="mt-5 grid gap-5 grid-cols-2">   
            <div class="">
                {% partial 'inputs/text' input=ub3d524dd923d18d97ebca61452104f998 %}       
            </div>
            <div class="">
                {% partial 'inputs/text' input=ub6c1cf8fd016b9eb3139e87dc77c116e6 %}       
            </div>
        </div> 
        <div class="mt-5 grid gap-5 grid-cols-2"> 
            <div class="">
                {% partial 'inputs/text' input=ub25be2d1fe18bda6debcd61d9f4ec31d4 %}       
            </div>
            <div class="">
                {% partial 'inputs/text' input=ubef913f879107310cfdc0b12b51ea12b9 %}       
            </div>
        </div> 
    </div>

    <div class="mt-5 bg-white rounded-lg p-5">
        <h3 class="form-title">7. Документ, удостоверяющий личность</h3>       
        <div class="mt-5 grid grid-cols-1 gap-5">
            <div class="grid mob_l:grid-cols-3 gap-5">
                <div class="">
                    {% partial 'inputs/select' input=ubb3da0edb915469ca0ce566cfe68da661 %}  
                </div>   
                <div class="">
                    {% partial 'inputs/text' input=ub201c448867840329097481e15390f345 %}  
                </div>   
                <div class="">
                    {% partial 'inputs/text' input=ubd7ca375bc3fdf690a0646884b4a2b7ab %}  
                </div>  
            </div>
            <div class="">
                {% partial 'inputs/text' input=ube5ab1935dea7cdd362b053cb29663dfd %}  
            </div>
            <div class="grid gap-5 mob_l:grid-cols-[1fr,200px]">
                <div class="">
                    {% partial 'inputs/text' input=uba3305127924030303d7013c5b64659a5 %}  
                </div>
                <div class="">
                    {% partial 'inputs/text' input=ub858e2af9133c7b6c9a2e2fa033a70b22 %}  
                </div>
            </div>
        </div>
    </div>

    <div class="mt-5 bg-white rounded-lg p-5">
        <h3 class="form-title">8. Укажите адрес постоянной регистрации собственника</h3>       
        <div class="mt-5">
            {% partial 'inputs/address' input=ubd2eb2137fa7695d96c23f00c047d0659 %}      
        </div>
    </div>

    <div class="mt-5 bg-white rounded-lg p-5">
        <h3 class="form-title">9. Где вы будете регистрировать транспортное средство?</h3>       
        <div class="mt-5">
            {% partial 'inputs/address' input=ube724e81588ecb2760edeb6fa62e1a20c %}      
        </div>
    </div>

    <div class="mt-5 bg-white rounded-lg p-5">
        <h3 class="form-title">10. Укажите дату и время постановки на регистрационный учет</h3>
        <div class="mt-5">            
            {% partial 'inputs/text' input=ub77a178281feb9c858fd8e43509ad21a7 %}           
        </div>
        <div class="mt-5">
            {% partial 'cabinetforms/reg-alert' type=5 %}
        </div>
        <div class="mt-5">
            {% partial 'cabinetforms/check' gos='1' %}            
        </div>
    </div>

    <div class="mt-5 form-group">
        <div class="mt-5">
            {% partial 'cabinetforms/prices' %}             
        </div>   
        <div class="mt-5 border-l-4 border-yellow-500 pl-5 bg-yellow-50 py-2">
            <p class="font-bold text-base mob_l:text-lg">Госпошлина не оплачивается</p>
            <p class="text-xs mob_l:text-sm">
                в случае прекращения (снятия с учета) ТС, за исключением случая вывоза ТС за границу
                Внимание! Оплата производиться только после того как наш оператор свяжется с Вами по телефону и подтвердит регистрацию заявки                
            </p>
        </div>       
        <div class="mt-5">
            <div class="" id="resultSum">
                {% partial 'cabinetforms/form_total' %}                
            </div>
            <div class="font-bold text-yellow-600 mt-5 text-xs mob_l:text-base">
                Внимание! О ходе рассмотрения заявки Вы будете, проинформированы нашим оператором путем дозвона (убедительная просьба после заполнения заявки оставаться на связи. В случае неудачной попытки связаться с Вами, мы вынуждены будем Вашу заявку отклонить)
            </div>
        </div>
        <input type="hidden" name="prices" value="" id="formPrices">
        <input type="hidden" name="price" value="" id="formPrice">
        <div class="mt-5">
            <button class="btn btn-red w-full max-w-[200px]" data-attach-loading>ОТПРАВИТЬ</button>
        </div> 
    </div>

</form>