<div class="text-center text-blue-4 mb-6">
    <h2 class="text-xl table_sm:text-2xl font-bold mt-3">Договор купли-продажи транспортного средства  (номерного  агрегата)</h2>   
</div>

<div class="">
    <form action="" id="formApp" data-request="onDocument" class="font-semibold block w-full" data-request-validate data-request-files>

        <input type="hidden" name="form" value="{{ form.id }}">
        <input type="hidden" name="page_id" value="{{ page.id }}"> 
    
        <div class="space-y-4">

            <div class="grid gap-4 grid-cols-[1fr,200px]">
                <div class="">
                    {% partial 'inputs/text' input=ubc65966cadb13e5706122b53eb17fbea7 %}
                </div>
                <div class="">
                    {% partial 'inputs/text' input=ub773b284a8e8b4263b2f3c7d67be8ad5f %}
                </div>
            </div>

            <div class="">
                <h4 class="text-lg font-semibold">Мы, Продавец</h4>
                <hr class="my-3">
                <div class="grid grid-cols-1 table_l:grid-cols-4 gap-4">                
                    <div class="">
                        {% partial 'inputs/text' input=ub53c98b6d38610f07ae012064315a5c32 %}
                    </div>
                    <div class="">
                        {% partial 'inputs/text' input=uba3e105ee913b56cfec000a35499dcd47 %}
                    </div>
                    <div class="">
                        {% partial 'inputs/text' input=ube92cba9ee44475afb1ecfa249f25ab7c %}
                    </div>
                    <div class="">
                        {% partial 'inputs/text' input=ubf16e6c5c4067950c35b18c5645829f55 %}
                    </div>
                </div> 
            </div>               

            <div class="">
                <h4 class="text-lg font-semibold">Паспорт</h4>
                <hr class="my-3">  
                <div class="grid grid-cols-1 table_l:grid-cols-3 gap-4">
                    <div class="">
                        {% partial 'inputs/text' input=ub2e8f10973549ad175c51917c10790b58 %}
                    </div>
                    <div class="">
                        {% partial 'inputs/text' input=ub8dc0718b9d1bd93084142623660bb8f4 %}
                    </div>
                    <div class="">
                        {% partial 'inputs/text' input=ub1d4431ec21669ef49b3a017b57e67b1e %}
                    </div>
                </div>
            </div>

            <div class="">
                {% partial 'inputs/text' input=ube4de3eb186f6fd7e109d4308b0523973 %}
            </div>
            <div class="">
                {% partial 'inputs/text' input=ub78feef39b85cad81ba69a839e713ee69 %}
            </div>

            <div class="">
                <div class="flex items-center gap-2 font-semibold">
                    <input type="checkbox" name="representative" onchange="refreshBoxInputs('representativeBox')" id="representative" class="checkbox checkbox-sm rounded-md">
                    <label for="representative">Представитель собственника</label>
                </div>
                <hr class="my-3">
                
            </div>   

            <div id="representativeBox" class="grid gap-4 hidden"> 
                <div class="grid grid-cols-1 table_l:grid-cols-4 gap-4">                     
                    <div class="">
                        {% partial 'inputs/text' input=ub4be93eeceea6120281a0054229dbc8a6 disabled=true %}
                    </div>
                    <div class="">
                        {% partial 'inputs/text' input=ub56d2ccff210e13c17d2be48865ce8d63 disabled=true %}
                    </div>
                    <div class="">
                        {% partial 'inputs/text' input=ubf2ddbf3946db0d59421528e4d51cea2d disabled=true %}
                    </div>
                    <div class="">
                        {% partial 'inputs/text' input=ub42e1e4a62837888edeb86823e6bcf496 disabled=true %}
                    </div>
                </div>
                <div class="">
                    <h4 class="text-lg font-semibold">Паспорт</h4>
                    <hr class="my-3">  
                    <div class="grid grid-cols-1 table_l:grid-cols-3 gap-4">
                        <div class="">
                            {% partial 'inputs/text' input=ub6603bcf1355498d2cae059e5a74f99d4 disabled=true %}
                        </div>
                        <div class="">
                            {% partial 'inputs/text' input=ubd136cdae3550e68bd95b0247b0e41d41 disabled=true %}
                        </div>
                        <div class="">
                            {% partial 'inputs/text' input=ub4cfb20aa21a8caf3152a8829cc100904 disabled=true %}
                        </div>
                    </div>
                </div>
                <div class="">
                    {% partial 'inputs/text' input=ub63d5b862dc44935929d3e68d99c24cd4 disabled=true %}
                </div>
                <div class="">
                    {% partial 'inputs/text' input=ubb1bf3c386e44a11a26d122f46c39747b disabled=true %}
                </div>
            </div> 

            <div class="">
                <h4 class="text-lg font-semibold">Доверенность</h4>
                <hr class="my-3">
                <div class="grid grid-cols-1 table_l:grid-cols-3 gap-4 ">
                    <div class="">
                        {% partial 'inputs/text' input=ub1f94370d29f8b14f7e03700069798b93 %}
                    </div>
                    <div class="">
                        {% partial 'inputs/text' input=ubd1cb41abcd576d05d24628ce9022874b %}
                    </div>
                    <div class="">
                        {% partial 'inputs/text' input=ubacc9a48e92f815fdc93cf25401ad3651 %}
                    </div>
                </div>
            </div>
            <div class="">
                {% partial 'inputs/text' input=ub64f0077abda44b9ed8758b3a5cbd08d0 %}
            </div>
            <div class="">
                <h4 class="text-lg font-semibold">и Покупатель</h4>
                <hr class="my-3">   
                <div class="grid grid-cols-1 table_l:grid-cols-4 gap-4"> 
                    <div class="">
                        {% partial 'inputs/text' input=ubd8c93995c91aecf357822790f5d09bf5 %}
                    </div>
                    <div class="">
                        {% partial 'inputs/text' input=ubde07983e5acb7dd65c2b14abdd713cc9 %}
                    </div>
                    <div class="">
                        {% partial 'inputs/text' input=ub972a351971665aeaa8a63028ec75b743 %}
                    </div>
                    <div class="">
                        {% partial 'inputs/text' input=ub3bdeabb3914e5b73a2039d798048d8c0 %}
                    </div>
                </div> 
            </div>
            <div class="">
                <h4 class="text-lg font-semibold">Паспорт</h4>
                <hr class="my-3">   
                <div class="grid grid-cols-1 table_l:grid-cols-3 gap-4 ">
                    <div class="">
                        {% partial 'inputs/text' input=ube1a7f4811c3f981dbef5b624a6d18156 %}
                    </div>
                    <div class="">
                        {% partial 'inputs/text' input=ubd459848c5cecdcb91cc3421cc0212d17 %}
                    </div>
                    <div class="">
                        {% partial 'inputs/text' input=ub9e5e646f513bfd83932cab54b3a26bca %}
                    </div>
                </div> 
            </div>
            <div class="">
                {% partial 'inputs/text' input=ub303a961a2e74a61a4b5027d75fb35649 %}
            </div>
            <div class="">
                {% partial 'inputs/text' input=ub623433b7eea7ecf45a000c3315c56f5d %}
            </div>
        </div>

        <div class="mt-4 text-lg">
            <p class=""><b>заключили настоящий договор о нижеследующем:</b></p>
            <p class=""><b>Продавец</b> продал, а <b>Покупатель</b> купил транспортное средство (прицеп, номерной агрегат)</p>
        </div>

        <div class="mt-4 grid grid-cols-2 gap-4">
            <div class="">
                {% partial 'inputs/text' input=ub4f33258903b0f6a043cff651f772741c %}
            </div>
            <div class="">
                {% partial 'inputs/text' input=ubfa916d042eee33d53ae758926407241c %}
            </div>    
        </div>

        <div class="mt-4 space-y-4">
            <div class="">
                {% partial 'inputs/text' input=ub2b84e182c014b2fa45740d989f59ec75 %}
            </div>   
            <div class="">
                {% partial 'inputs/text' input=ub20538c592a229aaf184429c934c3b26e %}
            </div>  
            <div class="mt-4 grid grid-cols-2 gap-4">
                <div class="">
                    {% partial 'inputs/text' input=ub6bb1be84ccb3cf54aa1aefdb52b50019 %}
                </div> 
                <div class="">
                    {% partial 'inputs/text' input=ubcc153dda469f24d13bfa6710ea1c7e31 %}
                </div> 
            </div>
            <div class="">
                {% partial 'inputs/text' input=ubda8549c121cbbb0c383a7aa1cd52d7e0 %}
            </div> 
            <div class="">
                {% partial 'inputs/text' input=ub59cd336913b10a54bc14e138b8748c28 %}
            </div> 
            <div class="">
                {% partial 'inputs/text' input=ub9d6e41c7d597e4dbfdede88f663a7f3f %}
            </div> 
            <div class="">
                <h4 class="text-lg font-semibold">Паспорт транспортного средства</h4>
                <hr class="my-3">
                <div class="grid grid-cols-1 table_l:grid-cols-3 gap-4 ">
                    <div class="">
                        {% partial 'inputs/text' input=ub1d5333e1d38ec91a171c1fbaff5f285c %}
                    </div> 
                    <div class="">
                        {% partial 'inputs/text' input=ubf462f99138b4d6ac6fa94e47ae27a1d9 %}
                    </div> 
                    <div class="">
                        {% partial 'inputs/text' input=ubd45217bd10063ea19c3202bea596060e %}
                    </div> 
                </div>    
            </div>
            <div class="">
                {% partial 'inputs/text' input=ubda7955f2a1ddef2ecb9201d9ea4a1605 %}
            </div>
            <div class="">
                <h4 class="text-lg font-semibold">Свидетельство о регистрации ТС</h4>
                <hr class="my-3">
                <div class="grid grid-cols-1 table_l:grid-cols-3 gap-4 ">
                    <div class="">
                        {% partial 'inputs/text' input=ub9b010da79cae5a1dc21899670d3f7c7b %}
                    </div> 
                    <div class="">
                        {% partial 'inputs/text' input=ubee4c7788434ef5754aa166a299a5f1b8 %}
                    </div> 
                    <div class="">
                        {% partial 'inputs/text' input=ub736e1ac85e417373953d215024792368 %}
                    </div> 
                </div>    
            </div>
            <div class="">
                {% partial 'inputs/text' input=ub38d9d5de0ed0b4600d1190f357fe269d %}
            </div>
            <div class="">
                {% partial 'inputs/text' input=ub167441a1472d707582f08df5403e7b11 %}
            </div>
            <div class="alert-box">
                Продавец передает его Покупателю, а Покупатель принимает данное транспортное средство (прицеп номерной агрегат) и оплачивает его стоимость. Продавец гарантирует, что  автомобиль никому не продан, автомобиль,  (прицеп номерной агрегат)  в розыске не значатся, в залоге не состоит, ограничения, запреты на совершение регистрационных действий (арест) не наложены.   Настоящий договор вступает в силу с момента подписания и составлен в трех экземплярах, имеющий равную юридическую силу.
            </div>
        </div>

        <div class="mt-4">
            <div class=" flex items-center gap-x-1">
                <input type="checkbox" id="check_politic" name="check_politic" class="checkbox checkbox-sm me-2 flex-none rounded-sm" checked>
                <label for="check_politic" class="leading-none">Я ознакомлен с порядком и условиями подачи заявления в электронном виде, и даю свое согласие на обработку моих персональных данных</label>
            </div>
            <div data-validate-for="check_politic" class="error"></div>   
        </div>
    
        <hr class="my-6" >        
    
        <div class="flex justify-between flex-wrap gap-4">
            <div class="">
                <a class="btn btn-secondary text-xs" href="{{ form.pfiles | first . path }}" target="_blank">
                    <svg xmlns="http://www.w3.org/2000/svg" class="size-5" fill="currentColor" viewBox="0 0 256 256"><path d="M214.67,72H200V40a8,8,0,0,0-8-8H64a8,8,0,0,0-8,8V72H41.33C27.36,72,16,82.77,16,96v80a8,8,0,0,0,8,8H56v32a8,8,0,0,0,8,8H192a8,8,0,0,0,8-8V184h32a8,8,0,0,0,8-8V96C240,82.77,228.64,72,214.67,72ZM72,48H184V72H72ZM184,208H72V160H184Zm40-40H200V152a8,8,0,0,0-8-8H64a8,8,0,0,0-8,8v16H32V96c0-4.41,4.19-8,9.33-8H214.67c5.14,0,9.33,3.59,9.33,8Zm-24-52a12,12,0,1,1-12-12A12,12,0,0,1,200,116Z"></path></svg>
                    Распечатать пустой бланк договора</a>
            </div>
            <button class="btn btn-red text-xs" data-attach-loading>
                <svg xmlns="http://www.w3.org/2000/svg" class="size-5" fill="currentColor" viewBox="0 0 256 256"><path d="M219.31,72,184,36.69A15.86,15.86,0,0,0,172.69,32H48A16,16,0,0,0,32,48V208a16,16,0,0,0,16,16H208a16,16,0,0,0,16-16V83.31A15.86,15.86,0,0,0,219.31,72ZM168,208H88V152h80Zm40,0H184V152a16,16,0,0,0-16-16H88a16,16,0,0,0-16,16v56H48V48H172.69L208,83.31ZM160,72a8,8,0,0,1-8,8H96a8,8,0,0,1,0-16h56A8,8,0,0,1,160,72Z"></path></svg>
                Распечатать заполненный договор</button>
        </div>
    
    </form>
</div>