<div class="text-center text-blue-4 mb-6">
    <h1 class="text-xl table_sm:text-2xl font-bold mt-3">ДОВЕРЕННОСТЬ</h1>
    <h2 class="text-base font-bold mt-3">на право управление, распоряжение транспортным средством</h2>   
</div>

<div class="">
    <form action="" id="formApp" data-request="onDocument" class="font-semibold block w-full" data-request-validate data-request-files>

        <input type="hidden" name="form" value="{{ form.id }}">
        <input type="hidden" name="page_id" value="{{ page.id }}"> 
    
        <div class="space-y-4">

            <div class="grid gap-4 table_l:grid-cols-[1fr,200px]">
                <div class="">
                    {% partial 'inputs/text' input=ubd99b68dc6835ed4f06fced0eef2f0c51 %}
                </div>
                <div class="">
                    {% partial 'inputs/text' input=ube5b7911a48da1eecb0d074421414e627 %}
                </div>
            </div>

            <fieldset class="border px-4 py-6 rounded-lg">
                <legend class="text-2xl font-bold text-blue-4 px-4">Доверитель</legend>
                <div class="mb-4 grid gap-4 table_l:grid-cols-[1fr,200px]">
                    <div class="">
                        {% partial 'inputs/text' input=ub6c1d1f69488b64ebb952181bcad0c068 %}
                    </div>
                    <div class="">
                        {% partial 'inputs/text' input=ubda395266f3e666775194ca2f18990227 %}
                    </div>
                </div> 
                <div class="">
                    <h4 class="text-lg font-bold">Паспорт</h4>
                    <hr class="my-3" >
                    <div class="grid grid-cols-1 table_l:grid-cols-3 gap-4 mb-4">    
                        <div class="">
                            {% partial 'inputs/text' input=ub3a56a90d676cbcd6cbc460675b63e6a3 %}
                        </div>
                        <div class="">
                            {% partial 'inputs/text' input=ub5704d2a9d9a835afdd7ac78ff4fb3235 %}
                        </div>
                        <div class="">
                            {% partial 'inputs/text' input=ub90192c39f01634de36d7faa2349af028 %}
                        </div>
                    </div> 
                    <div class="mb-4">
                        {% partial 'inputs/text' input=ubf5bc8bce0dc63ad99ed77fc12d5c7d13 %}
                    </div>
                    <div class="">
                        {% partial 'inputs/text' input=ub8d6f0bfa328f3460b13375454056f1cd %}
                    </div>
                </div>
            </fieldset>              
            
            <fieldset class="border px-4 py-6 rounded-lg">
                <legend class="text-2xl font-bold text-blue-4 px-4">Имея в собственности транспортное средство</legend>
                <div class="grid gap-2">
                    <div class="">
                        {% partial 'inputs/text' input=ubc1f52bde2ca0f7438ad4a7e65ba56200 %}
                    </div>   
                    <div class="grid grid-cols-1 table_l:grid-cols-3 gap-4">   
                        <div class="">
                            {% partial 'inputs/text' input=ubad07c0f03583669780c02fb29f3d39ba %}
                        </div>
                        <div class="">
                            {% partial 'inputs/year' input=ubf4ea92e36e6d39ac8ef088d113c740d1 %}
                        </div>
                        <div class="">
                            {% partial 'inputs/text' input=ubbf82f1a71e467270263f98634d77502b %}
                        </div>
                    </div>
                    <div class="">
                        {% partial 'inputs/text' input=ub0dcb5888fcfb2f3dd06a2417d12a54b4 %}
                    </div>
                    <div class="grid grid-cols-1 table_l:grid-cols-2 gap-4"> 
                        <div class="">
                            {% partial 'inputs/text' input=ubc89ca777063a99bc0b66f1aeabcae22b %}
                        </div>                    
                        <div class="">
                            {% partial 'inputs/text' input=ub80f5a5d129d4fad8f19b184fb574810f %}
                        </div>
                    </div>
                </div>
                <div class="pt-4">
                    <h4 class="text-lg font-bold">Паспорт транспортного средства</h4>
                    <hr class="my-3" >
                    <div class="grid gap-4">
                        <div class="grid grid-cols-1 table_l:grid-cols-3 gap-4">   
                            <div class="">
                                {% partial 'inputs/text' input=ub87fb721af4a2350e32dd6cbf2599f4f7 %}
                            </div>
                            <div class="">
                                {% partial 'inputs/text' input=ub4ef1a62a8d3927acb5f14d74ff275520 %}
                            </div>
                            <div class="">
                                {% partial 'inputs/text' input=ub720eae5a49acc947b4e8e34380d51bd3 %}
                            </div> 
                        </div>
                        <div class="">
                            {% partial 'inputs/text' input=ubfb50b22e4ffa50dcf3c639a4eab47ea6 %}
                        </div>
                    </div>
                </div>
                <div class="pt-4">                                       
                    <div class="grid gap-4">
                        <div class="">
                            <div class="flex items-center gap-2 font-semibold">
                                <input type="checkbox" name="representative" onchange="refreshBoxInputs('representativeBox')" id="representative" class="checkbox checkbox-sm rounded-md">
                                <label for="representative">Состоит на регистрационном учете в ГИБДД</label>
                            </div>
                        </div>
                        <div class="hidden" id="representativeBox">
                            <h4 class="text-lg font-bold">Свидетельство о регистрации транспортного средства (СТС) </h4>
                            <hr class="my-3" > 
                            <div class="grid gap-4">
                                <div class="grid grid-cols-1 table_l:grid-cols-3 gap-4">   
                                    <div class="">
                                        {% partial 'inputs/text' input=ubc9dd364aa98f126fff23f52f02967ae1 %}
                                    </div>
                                    <div class="">
                                        {% partial 'inputs/text' input=ubef2850190a6a41374f1935612e9834d7 %}
                                    </div>
                                    <div class="">
                                        {% partial 'inputs/text' input=ub58dfaa105321f3f93794f356c845d442 %}
                                    </div> 
                                </div>
                                <div class="">
                                    {% partial 'inputs/text' input=ubbb5bbcc81eec143509c6a24ce1450f02 %}
                                </div>   
                            </div>
                        </div>
                    </div>  
                </div>
            </fieldset>  
            
            <fieldset class="border px-4 py-6 rounded-lg">
                <legend class="text-2xl font-bold text-blue-4 px-4">Доверяю</legend>
                <div class="grid gap-4">
                    <div class=" grid gap-4 table_l:grid-cols-[1fr,200px]">
                        <div class="">
                            {% partial 'inputs/text' input=ube4be515d9bc1071e9a7f34e2262052ea %}
                        </div>
                        <div class="">
                            {% partial 'inputs/text' input=ubac2bdd85abc25461d186687b7fe58c9b %}
                        </div>
                    </div>
                    <div class="">
                        <h4 class="text-lg font-bold">Паспорт</h4>
                        <hr class="my-3" >
                        <div class="grid gap-4">
                            <div class="grid grid-cols-1 table_l:grid-cols-3 gap-4">   
                                <div class="">
                                    {% partial 'inputs/text' input=ub8f7845d1d51ae3ea37eb12dbe6f9a22c %}
                                </div>
                                <div class="">
                                    {% partial 'inputs/text' input=ubc0402fce54002d91d5e50c37960c46d8 %}
                                </div>
                                <div class="">
                                    {% partial 'inputs/text' input=ub0b1cd6942e14e39e9a66a6af838b349b %}
                                </div>
                            </div>
                            <div class="">
                                {% partial 'inputs/text' input=ub4b5a1f853edf499f674416dc883eb390 %}
                            </div>
                            <div class="">
                                {% partial 'inputs/text' input=ub647d332843cb6b4c61fe6ab5efc0b9ff %}
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>            
            
            <div class="alert-box">
                {{ page.form.description | raw }}
            </div>
           
            <div class="">
                {% partial 'inputs/text' input=ub0e88ee2076a37fadbfdd13f50d6d7f7e %} 
            </div> 
            
        </div>

        

        <div class="mt-4">
            <div class=" flex items-center gap-x-1">
                <input type="checkbox" id="check_politic" name="check_politic" class="checkbox checkbox-sm me-2 flex-none rounded-sm" checked>
                <label for="check_politic" class="leading-none">Я ознакомлен с порядком и условиями подачи заявления в электронном виде, и даю свое согласие на обработку моих персональных данных</label>
            </div>
            <div data-validate-for="check_politic" class="error"></div>   
        </div>

        <hr class="my-6" >        
    
        <div class="flex justify-between flex-wrap gap-4">
            <div class="">
                <a class="btn btn-secondary text-xs" href="{{ form.pfiles | first . path }}" target="_blank">
                    <svg xmlns="http://www.w3.org/2000/svg" class="size-5" fill="currentColor" viewBox="0 0 256 256"><path d="M214.67,72H200V40a8,8,0,0,0-8-8H64a8,8,0,0,0-8,8V72H41.33C27.36,72,16,82.77,16,96v80a8,8,0,0,0,8,8H56v32a8,8,0,0,0,8,8H192a8,8,0,0,0,8-8V184h32a8,8,0,0,0,8-8V96C240,82.77,228.64,72,214.67,72ZM72,48H184V72H72ZM184,208H72V160H184Zm40-40H200V152a8,8,0,0,0-8-8H64a8,8,0,0,0-8,8v16H32V96c0-4.41,4.19-8,9.33-8H214.67c5.14,0,9.33,3.59,9.33,8Zm-24-52a12,12,0,1,1-12-12A12,12,0,0,1,200,116Z"></path></svg>
                    Распечатать пустой бланк доверенности</a>
            </div>
            <button class="btn btn-red text-xs" data-attach-loading>
                <svg xmlns="http://www.w3.org/2000/svg" class="size-5" fill="currentColor" viewBox="0 0 256 256"><path d="M219.31,72,184,36.69A15.86,15.86,0,0,0,172.69,32H48A16,16,0,0,0,32,48V208a16,16,0,0,0,16,16H208a16,16,0,0,0,16-16V83.31A15.86,15.86,0,0,0,219.31,72ZM168,208H88V152h80Zm40,0H184V152a16,16,0,0,0-16-16H88a16,16,0,0,0-16,16v56H48V48H172.69L208,83.31ZM160,72a8,8,0,0,1-8,8H96a8,8,0,0,1,0-16h56A8,8,0,0,1,160,72Z"></path></svg>
                Распечатать заполненную доверенность</button>
        </div>
    
    </form>
</div>