<form action="" id="formApp" data-request="onApp" class="font-semibold block w-full" data-request-validate data-request-files>

    <h1 class="text-4xl font-bold mb-6">Внесение изменений в конструкцию под ключ</h1>

    <input type="hidden" name="form" value="{{ form.id }}">
    <input type="hidden" name="page_id" value="{{ page.id }}">  

    <p class="text-lg font-gilroy-medium mb-6">Заполните форму, мы рассчитаем стоимость оформления</p>

    <div class="space-y-5">

        <div class="">
            {% partial 'inputs/text' input=ub53dee7dc134737dc9710731ad4e64f41 %}
        </div>  

        <fieldset class="mt-2 border pt-5 pb-5 px-5 rounded-lg">
            <legend class="font-gilroy-medium text-lg px-3 m-0">Документы</legend>
            <div class="space-y-5">
                <div class="">
                    {% partial 'inputs/file' input=ubc8d0a9ef54bd0d7a3eead8bfc80ad387 %}
                </div>
                <div class="">
                    {% partial 'inputs/file' input=ub4effef065b46c3ff1796f60435fff5ef %}
                </div>
                <div class="">
                    {% partial 'inputs/file' input=ub4452392eb909d1b8acf889de8642ab66 %}
                </div>
                <div class="">
                    {% partial 'inputs/file' input=ubc0b6669eb2a45d7f19f4754b58307654 %}
                </div>
                <div class="">
                    {% partial 'inputs/file' input=ub06434f2ca772c40d978c317584b17309 %}
                </div>
                <div class="">
                    {% partial 'inputs/file' input=ubf52a78752f8e2ee1843ede56e072bef4 %}
                </div>
            </div>
        </fieldset>

        <fieldset class="mt-2 border pt-5 pb-5 px-5 rounded-lg">
            <legend class="font-gilroy-medium text-lg px-3 m-0">Оборудование уже стоит?</legend>
            <div class="">   
                {% partial 'inputs/radio' row=1 input=ubc0d35465595cf47d4bd60c75819d9418 %}
            </div>
        </fieldset>

        <fieldset class="mt-2 border pt-5 pb-5 px-5 rounded-lg">
            <legend class="font-gilroy-medium text-lg px-3 m-0">Сертификаты, грузовая таможенная декларация (ГТД) на оборудование имеется?</legend>
            <div class="">   
                {% partial 'inputs/radio' row=1 input=ub2b122c6c1735a5532451cb443a6dd338 %}
            </div>
        </fieldset>

        <fieldset class="mt-2 border pt-5 pb-5 px-5 rounded-lg">
            <legend class="font-gilroy-medium text-lg px-3 m-0">Контактная информация</legend>
            <div class="space-y-5">
                <div class="">
                    {% partial 'inputs/text' input=ub99062199d63a07e00a13eeb45528ddee %}
                </div>
                <div class="">
                    {% partial 'inputs/text' input=ub2ddcf860dd009e5703e1edb8e382840e %}
                </div>
                <div class="">
                    {% partial 'inputs/text' input=ub809accb2d6cbd4e625757df52d2adf6e %}
                </div>
            </div>
        </fieldset>
    </div>   

    <div class="space-y-5">
        <div class="alert alert-warning">
            <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z" /></svg>
            <span>Внимание! Оплата производиться только после того как наш оператор свяжется с вами по телефону и подтвердит регистрацию заявки</span>
        </div>   
        <div class="alert alert-info">
            <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" /></svg>
            <span>Оставайтесь на связи, в  ближайшее время  наш оператор с вами свяжется!</span>
        </div>
        <div class="">
            <button class="btn btn-red w-full max-w-[200px]" data-attach-loading>ОТПРАВИТЬ</button>
        </div> 
    </div>

</form>