<div class="text-center text-blue-4 mb-6">
    <h1 class="text-xl table_sm:text-2xl font-bold mt-3">ДОВЕРЕННОСТЬ</h1>
    <h2 class="text-base font-bold mt-3">на право управление, распоряжение транспортным средством</h2>   
</div>

<div class="">
    <form action="" id="formApp" data-request="onDocument" class="font-semibold block w-full" data-request-validate data-request-files>

        <input type="hidden" name="form" value="{{ form.id }}">
        <input type="hidden" name="page_id" value="{{ page.id }}"> 
    
        <div class="space-y-4">

            <div class="grid gap-4 table_l:grid-cols-[1fr,200px]">
                <div class="">
                    {% partial 'inputs/text' input=ubd99b68dc6835ed4f06fced0eef2f0c51 %}
                </div>
                <div class="">
                    {% partial 'inputs/text' input=ube5b7911a48da1eecb0d074421414e627 %}
                </div>
            </div>

            <div class="">
                <div class="grid grid-cols-1 table_l:grid-cols-3 gap-4">                
                    <div class="">
                        {% partial 'inputs/text' input=ub6c1d1f69488b64ebb952181bcad0c068 %}
                    </div>
                    <div class="">
                        {% partial 'inputs/text' input=ub3a56a90d676cbcd6cbc460675b63e6a3 %}
                    </div>
                    <div class="">
                        {% partial 'inputs/text' input=ub5704d2a9d9a835afdd7ac78ff4fb3235 %}
                    </div>
                </div> 
            </div>   
            
            <div class="">
                {% partial 'inputs/text' input=ub90192c39f01634de36d7faa2349af028 %}
            </div>
            <div class="">
                {% partial 'inputs/text' input=ub8d6f0bfa328f3460b13375454056f1cd %}
            </div>
            <div class="">
                {% partial 'inputs/text' input=ubc1f52bde2ca0f7438ad4a7e65ba56200 %}
            </div>              

            <div class="">
                <h4 class="text-lg font-semibold">Автомобиль</h4>
                <hr class="my-3">
                <div class="grid gap-4">
                    <div class="grid grid-cols-1 table_l:grid-cols-3 gap-4">   
                        <div class="">
                            {% partial 'inputs/text' input=ubad07c0f03583669780c02fb29f3d39ba %}
                        </div>
                        <div class="">
                            {% partial 'inputs/text' input=ubf4ea92e36e6d39ac8ef088d113c740d1 %}
                        </div>
                        <div class="">
                            {% partial 'inputs/text' input=ubbf82f1a71e467270263f98634d77502b %}
                        </div>
                    </div>
                    <div class="">
                        {% partial 'inputs/text' input=ub0dcb5888fcfb2f3dd06a2417d12a54b4 %}
                    </div>
                    <div class="grid grid-cols-1 table_l:grid-cols-2 gap-4"> 
                        <div class="">
                            {% partial 'inputs/text' input=ubc89ca777063a99bc0b66f1aeabcae22b %}
                        </div>                    
                        <div class="">
                            {% partial 'inputs/text' input=ub80f5a5d129d4fad8f19b184fb574810f %}
                        </div>
                    </div>
                </div>
            </div>      
            
            <div class="">
                <h4 class="text-lg font-semibold">Паспорт транспортного средства </h4>
                <hr class="my-3">
                <div class="grid gap-4">
                    <div class="grid grid-cols-1 table_l:grid-cols-2 gap-4">   
                        <div class="">
                            {% partial 'inputs/text' input=ub87fb721af4a2350e32dd6cbf2599f4f7 %}
                        </div>
                        <div class="">
                            {% partial 'inputs/text' input=ub4ef1a62a8d3927acb5f14d74ff275520 %}
                        </div>
                    </div>
                    <div class="grid gap-4 table_l:grid-cols-[1fr,160px]">
                        <div class="">
                            {% partial 'inputs/text' input=ubfb50b22e4ffa50dcf3c639a4eab47ea6 %}
                        </div>
                        <div class="">
                            {% partial 'inputs/text' input=ub720eae5a49acc947b4e8e34380d51bd3 %}
                        </div> 
                    </div>
                </div>
            </div>    

            <div class="">
                <h4 class="text-lg font-semibold">Свидетельство о регистрации ТС</h4>
                <hr class="my-3">
                <div class="grid gap-4">
                    <div class="grid grid-cols-1 table_l:grid-cols-2 gap-4">   
                        <div class="">
                            {% partial 'inputs/text' input=ubc9dd364aa98f126fff23f52f02967ae1 %}
                        </div>
                        <div class="">
                            {% partial 'inputs/text' input=ubef2850190a6a41374f1935612e9834d7 %}
                        </div>
                    </div>
                    <div class="grid gap-4 table_l:grid-cols-[1fr,160px]">
                        <div class="">
                            {% partial 'inputs/text' input=ubbb5bbcc81eec143509c6a24ce1450f02 %}
                        </div>
                        <div class="">
                            {% partial 'inputs/text' input=ub58dfaa105321f3f93794f356c845d442 %}
                        </div> 
                    </div>
                    <div class="">
                        {% partial 'inputs/text' input=ube36a04d0ce3711fbdebb8b849f37ddfc %}
                    </div>
                </div>
            </div> 

            <div class="">
                <h4 class="text-lg font-semibold">Доверяю</h4>
                <hr class="my-3">
                <div class="grid gap-4">
                    <div class="">
                        {% partial 'inputs/text' input=ube4be515d9bc1071e9a7f34e2262052ea %}
                    </div>
                    <div class="grid grid-cols-1 table_l:grid-cols-2 gap-4">   
                        <div class="">
                            {% partial 'inputs/text' input=ub8f7845d1d51ae3ea37eb12dbe6f9a22c %}
                        </div>
                        <div class="">
                            {% partial 'inputs/text' input=ubc0402fce54002d91d5e50c37960c46d8 %}
                        </div>
                    </div>
                    <div class="">
                        {% partial 'inputs/text' input=ub0b1cd6942e14e39e9a66a6af838b349b %}
                    </div>
                    <div class="">
                        {% partial 'inputs/text' input=ub647d332843cb6b4c61fe6ab5efc0b9ff %}
                    </div>
                </div>
            </div> 
            
            <div class="alert-box">
                {{ page.form.description | raw }}
            </div>

            <div class="">
                {% partial 'inputs/radio' input=ub11b4acf2d05a2d32ae1de30e60738e7c %} 
            </div> 
            <div class="">
                {% partial 'inputs/radio' input=ub25f86f038c4df23ff5bb2f212d51da04 %} 
            </div> 
            <div class="">
                {% partial 'inputs/text' input=ub0e88ee2076a37fadbfdd13f50d6d7f7e %} 
            </div> 
            
        </div>

        

        <div class="mt-4">
            <div class=" flex items-center gap-x-1">
                <input type="checkbox" id="check_politic" name="check_politic" class="checkbox checkbox-sm me-2 flex-none rounded-sm" checked>
                <label for="check_politic" class="leading-none">Я ознакомлен с порядком и условиями подачи заявления в электронном виде, и даю свое согласие на обработку моих персональных данных</label>
            </div>
            <div data-validate-for="check_politic" class="error"></div>   
        </div>
    
        <div class="mt-4">
            <button class="btn btn-red" data-attach-loading>Отправить</button>
        </div>
    
    </form>
</div>