<h1 class="title-h1 text-center">Срочный выкуп автомобилей, гос номеров</h1>
<h2 class="title-h2 text-center">Теперь на USERBOARD можно выгодно <br> заказать автозапчасти из Японии, Кореи, Китая</h2>    

<form action="" id="formApp" data-request="onApp" class="font-semibold block w-full" data-request-validate data-request-files>

    <input type="hidden" name="form" value="{{ form.id }}">
    <input type="hidden" name="page_id" value="{{ page.id }}"> 

    <div class="space-y-4">
        <div class="">
            {% partial 'inputs/file' input=uba7815276ea316e9ce6d1b1a10c97f6bb %}
        </div>
        <div class="">
            {% partial 'inputs/text' input=ub42531ee3676d2c34b8544e8b80e2eb52 %}
        </div>
        <div class="grid grid-cols-2 gap-4">
            <div class="">
                {% partial 'inputs/text' input=ub51586b47af300685ef73da9eacc9ff32 %}
            </div>
            <div class="">
                {% partial 'inputs/text' input=ubc9dcbf9f1a83491da157769f342b4281 %}
            </div>
        </div>
        <div class="">
            {% partial 'inputs/text' input=uba9d83383a46ac89a43829aa49bba83ff %}
        </div>
    </div>

    <div class="mt-4">
        <button class="btn btn-red" data-attach-loading>Заказать услугу</button>
    </div>

</form>     

