<div class="text-center text-blue-4 mb-6">
    <h2 class="text-xl table_sm:text-2xl font-bold mt-3">Договор купли-продажи транспортного средства  (номерного  агрегата)</h2>   
</div>

<div class="">
    <form action="" id="formApp" data-request="onApp" class="font-semibold block w-full" data-request-validate data-request-files>

        <input type="hidden" name="form" value="{{ form.id }}">
        <input type="hidden" name="page_id" value="{{ page.id }}"> 
    
        <div class="space-y-4">

            <div class="">
                {% partial 'inputs/text' input=ubc65966cadb13e5706122b53eb17fbea7 %}
            </div>

            <div class="">
                <h4 class="text-lg font-semibold">Мы, Продавец</h4>
                <hr class="my-3">
                <div class="grid grid-cols-1 table_l:grid-cols-4 gap-4">                
                    <div class="">
                        {% partial 'inputs/text' input=ub53c98b6d38610f07ae012064315a5c32 %}
                    </div>
                    <div class="">
                        {% partial 'inputs/text' input=uba3e105ee913b56cfec000a35499dcd47 %}
                    </div>
                    <div class="">
                        {% partial 'inputs/text' input=ube92cba9ee44475afb1ecfa249f25ab7c %}
                    </div>
                    <div class="">
                        {% partial 'inputs/text' input=ubf16e6c5c4067950c35b18c5645829f55 %}
                    </div>
                </div> 
            </div>               

            <div class="grid grid-cols-1 table_l:grid-cols-3 gap-4">
                <div class="">
                    {% partial 'inputs/text' input=ub2e8f10973549ad175c51917c10790b58 %}
                </div>
                <div class="">
                    {% partial 'inputs/text' input=ub8dc0718b9d1bd93084142623660bb8f4 %}
                </div>
                <div class="">
                    {% partial 'inputs/text' input=ub1d4431ec21669ef49b3a017b57e67b1e %}
                </div>
            </div>

            <div class="">
                {% partial 'inputs/text' input=ube4de3eb186f6fd7e109d4308b0523973 %}
            </div>
            <div class="">
                {% partial 'inputs/text' input=ub78feef39b85cad81ba69a839e713ee69 %}
            </div>

            <div class="">
                <h4 class="text-lg font-semibold">Представитель собственника </h4>
                <hr class="my-3">
                <div class="grid grid-cols-1 table_l:grid-cols-4 gap-4">                     
                    <div class="">
                        {% partial 'inputs/text' input=ub4be93eeceea6120281a0054229dbc8a6 %}
                    </div>
                    <div class="">
                        {% partial 'inputs/text' input=ub56d2ccff210e13c17d2be48865ce8d63 %}
                    </div>
                    <div class="">
                        {% partial 'inputs/text' input=ubf2ddbf3946db0d59421528e4d51cea2d %}
                    </div>
                    <div class="">
                        {% partial 'inputs/text' input=ub42e1e4a62837888edeb86823e6bcf496 %}
                    </div>
                </div>
            </div>            
            <div class="grid grid-cols-1 table_l:grid-cols-3 gap-4">
                <div class="">
                    {% partial 'inputs/text' input=ub6603bcf1355498d2cae059e5a74f99d4 %}
                </div>
                <div class="">
                    {% partial 'inputs/text' input=ubd136cdae3550e68bd95b0247b0e41d41 %}
                </div>
                <div class="">
                    {% partial 'inputs/text' input=ub4cfb20aa21a8caf3152a8829cc100904 %}
                </div>
            </div>
            <div class="">
                {% partial 'inputs/text' input=ub63d5b862dc44935929d3e68d99c24cd4 %}
            </div>
            <div class="">
                {% partial 'inputs/text' input=ubb1bf3c386e44a11a26d122f46c39747b %}
            </div>
        </div>

        <div class="mt-4">
            <div class=" flex items-center gap-x-1">
                <input type="checkbox" id="check_politic" name="check_politic" class="checkbox checkbox-sm me-2 flex-none rounded-sm" checked>
                <label for="check_politic" class="leading-none">Я ознакомлен с порядком и условиями подачи заявления в электронном виде, и даю свое согласие на обработку моих персональных данных</label>
            </div>
            <div data-validate-for="check_politic" class="error"></div>   
        </div>
    
        <div class="mt-4">
            <button class="btn btn-red" data-attach-loading>Отправить</button>
        </div>
    
    </form>
</div>