<form action="" id="formApp" data-request="onApp" class="font-semibold block w-full" data-request-validate  data-request-files>

    <div class="mb-4">
        {% partial 'cabinet/form-breadcrumbs' breadcrumbs=breadcrumbs %}        
    </div>

    <input type="hidden" name="form" value="{{ form.id }}">
    <input type="hidden" name="page_id" value="{{ page.id }}">

    <h3 class="text-xl font-semibold">Порядок и условия подачи заявления в электронном виде</h3>

    <div class="mt-5">
        {% partial 'cabinetforms/reg-alert' type=1 %}
    </div>

    <div class="mt-5">
        {% partial 'cabinetforms/reg-alert' type=2 %}
    </div>    

    <div class="mt-5 bg-white rounded-lg p-5">
        <div class="">
            <h2 class="form-title">Что хотите поменять?</h2>
        </div>
        <div class="mt-5">
            {% partial 'inputs/radio' input=ubc35202f58a9f1f7f894decbd02f9bf55 %} 
        </div>  
    </div>

    <div class="mt-5 bg-white rounded-lg p-5">
        <div class="">
            <h2 class="form-title">1. Сведения о транспортном средстве</h2>
        </div>  
        <div class="mt-5 space-y-2">           
            {% partial 'inputs/radio' input=ub2f7c557c4df18145a53bc772dad7f8f8 code='transport' ajax='calcSumForm()' %}    
        </div> 
        <div class="mt-5 grid gap-3 table_l:grid-cols-2 table_l:gap-5">            
            <div class="">
                {% partial 'inputs/text' input=uba4e535f3d758acd519be45b377d8f693 %}              
            </div>
            <div class="">
                {% partial 'inputs/text' input=ub625688974adb6a09d091a1053d44760d %}              
            </div>
        </div>  
    </div>  

    <div class="mt-5 bg-white rounded-lg p-5">
        <h3 class="form-title">2. Что хотите сделать с номерами?</h3>
        <div class="mt-5">
            {% partial 'cabinetforms/reg-alert' type=3 %}
        </div>
        <div class="mt-5">
            {% partial 'cabinetforms/reg-alert' type=4 %}
        </div>
        <div class="mt-5 ">
            {% partial 'inputs/radio' input=ubcc3c7dd3d893d871ccc04fa7ff71ed33 %} 
        </div>       
    </div>     

    <div class="mt-5 bg-white rounded-lg p-5">
        <h3 class="form-title">3. Где будете получать номера?</h3>
        <div class="mt-5">
            {% partial 'inputs/radio' input=ubb29b1667b204de1d1e4ce8a40c9ee50a code='gde' ajax='calcSumForm()' %} 
        </div>
    </div>

    <div class="mt-5 bg-white rounded-lg p-5">
        <h3 class="form-title">4. Что нужно сделать с ПТС</h3>  
        <div class="mt-5 underline text-xs table_l:text-base">
            Получите новый ПТС, если старый утрачен, пришёл в негодность или в нём закончилось свободное место
        </div> 
        <div class="mt-5">
            {% partial 'inputs/radio' input=ub9f253124cc04c6aa0e08941409d04812 %} 
        </div>        
    </div>

    <div class="mt-5 bg-white rounded-lg p-5">
        <h3 class="form-title">5. Ваши данные</h3>   
        <div class="mt-5 ">
            {% partial 'inputs/radio' input=ub55da19b54c69b55ccf001bd011bdbe23 %}
        </div>    
        <div class="mt-5 grid table_l:grid-cols-3 gap-3 table_l:gap-5">
            <div class="">
                {% partial 'inputs/text' input=ub120d60a7e21a233dec49b132bd8e9fd3 %}
            </div>
            <div class="">
                {% partial 'inputs/text' input=ube32f06e940c674e4411c2c15f61c22a4 %}
            </div>
            <div class="">
                {% partial 'inputs/text' input=ub07946e1fb9d348d84d77d61a73e64a79 %}
            </div>
            <div class="">
                {% partial 'inputs/text' input=ubf04c6b99b7a97aae772785c4e3dbe464 %}
            </div>
            <div class="">
                {% partial 'inputs/text' input=uba87f5c352057d20db70407f98376775e %}
            </div>
            <div class="">
                {% partial 'inputs/text' input=ub97319f645464832e2d8ae18bcbbd5579 %}
            </div>
        </div>
        <div class="mt-5">
            {% partial 'inputs/text' input=ub21db1094d9dc48b8f74b7e855e1a6fa1 %}
        </div>
        <div class="mt-5 grid table_l:grid-cols-2 gap-3 table_l:gap-5">
            <div class="">
                {% partial 'inputs/text' input=uba5fc4de8e2c3437e8fb207577d6c89fe %}    
            </div>
            <div class="">
                {% partial 'inputs/text' input=ub168b64f6e1627ef0fe7076444c9cdb10 %}    
            </div>
        </div>
        <div class="mt-5">
            {% partial 'inputs/text' input=ub48a8bd29e51c0dc605a58c3810c06428 %}    
        </div>
    </div>

    <div class="mt-5 bg-white rounded-lg p-5">
        <h3 class="form-title">6. Укажите данные доверенности</h3> 
        <div class="mt-5">
            {% partial 'inputs/select' input=ub76d07d903b2043b4b8da97ccedaca085 %}
        </div> 
        <div class="mt-5">
            {% partial 'inputs/text' input=ubd4401c9356fa1cf7e5ac6b3b414ad8fb %}
        </div> 
        <div class="mt-5">
            {% partial 'inputs/text' input=ubdcd37ae139cb69e9546aceca6364e595 %}
        </div> 
        <div class="mt-5">
            {% partial 'inputs/text' input=ub1893595a84b00295234b71b2bc9a256d %}
        </div>
        <div class="mt-5">
            {% partial 'inputs/text' input=ub264d7b3aea05941a4e46a499576a2828 %}
        </div>
    </div>    

    <div class="mt-5 bg-white rounded-lg p-5">
        <h3 class="form-title">7. Укажите сведения о собственнике</h3> 
        <div class="mt-5 ">
            {% partial 'inputs/radio' input=ub66d0336108af589c8772b58cbadca7ce %}
        </div>    
        <div class="mt-5 grid table_l:grid-cols-3 gap-3 table_l:gap-5">
            <div class="">
                {% partial 'inputs/text' input=ub1a3df5779b63ce0f81927b0c1e94ec36 %}
            </div>
            <div class="">
                {% partial 'inputs/text' input=ub6f1354e372d723928ed02bc5fa56c013 %}
            </div>
            <div class="">
                {% partial 'inputs/text' input=ub0688cf268fa5d342bb67624c630fb3f4 %}
            </div>
            <div class="">
                {% partial 'inputs/text' input=ub35b44ccf98ece3a09ed16e9f67643225 %}
            </div>
            <div class="">
                {% partial 'inputs/text' input=ub00a3a42f56b65945153e3caf872ebb43 %}
            </div>
            <div class="">
                {% partial 'inputs/text' input=ub27c5c7a2bc3743c8eaad39ebbb0b7045 %}
            </div>
        </div>
        <div class="mt-5">
            {% partial 'inputs/text' input=ub7f2c24f5487a29d2b3bf2448e8e7a113 %}
        </div>
        <div class="mt-5 grid table_l:grid-cols-2 gap-3 table_l:gap-5">
            <div class="">
                {% partial 'inputs/text' input=ub618f650d80acafd0c459eab9c97470ad %}    
            </div>
            <div class="">
                {% partial 'inputs/text' input=ub396bf538dca3886f4f06f074674aab08 %}    
            </div>
        </div>
        <div class="mt-5">
            {% partial 'inputs/text' input=ubb3603c55f8c33fc9330cf38fbf02865d %}    
        </div>
    </div>

    <div class="mt-5 bg-white rounded-lg p-5">
        <h3 class="form-title">8. Документ, удостоверяющий личность</h3>      
        <div class="mt-5">
            {% partial 'inputs/select' input=ubbc64a3c28829f3137b52c21c9a2a00b7 %}
        </div>  
        <div class="mt-5 grid table_l:grid-cols-3 gap-3 table_l:gap-5">
            <div class="">
                {% partial 'inputs/text' input=ub8148668857cb6b1ad44701de8428a9c7 %}
            </div>
            <div class="">
                {% partial 'inputs/text' input=ubbba36f27c12da044d101db4e6ff0fbd9 %}
            </div>
            <div class="">
                {% partial 'inputs/text' input=ub39f4c09cf58adb6be1fbc676c24312be %}
            </div>
        </div>
        <div class="mt-5 flex gap-3 table_l:gap-5 flex-col table_l:flex-row">
            <div class="flex-1">
                {% partial 'inputs/text' input=ubb2183a0692b0ecd4ebe7c67326915e8a %}
            </div>
            <div class="">
                {% partial 'inputs/text' input=ubb496c0afe5b79e0188bf5058f07e2d56 %}
            </div>
        </div>
    </div>

    <div class="mt-5 bg-white rounded-lg p-5">
        <h3 class="form-title">9. Адрес проживания (регистрации)</h3>  
        <div class="mt-5">
            {% partial 'inputs/address' input=ub039e2696990d02c821fc83889a59fbfa %}
        </div>    
    </div>

    <div class="mt-5 bg-white rounded-lg p-5">
        <h3 class="form-title">10. Где вы будете переоформлять ТС?</h3>  
        <div class="mt-5">
            {% partial 'inputs/address' input=ub0a518fc7277a0c6de5ebaa3903239f8e %}
        </div>    
    </div>

    <div class="mt-5 bg-white rounded-lg p-5">
        <h3 class="form-title">11. Укажите дату и время переоформления ТС</h3> 
        <div class="mt-5">
            {% partial 'inputs/text' input=ubada62358f10d912a7cf6f1ae8c4589bb %}
        </div>  
        <div class="mt-5">
            {% partial 'cabinetforms/reg-alert' type=5 %}
        </div>
        <div class="mt-5">
            {% partial 'cabinetforms/check' gos='3' %}            
        </div>
    </div>

    <div class="mt-5 bg-white rounded-lg p-5">
        <div class="mt-5">
            {% partial 'cabinetforms/prices' %} 
        </div>   
        <div class="mt-5 border-l-4 border-yellow-500 pl-5 bg-yellow-50 py-2">
            <p class="font-bold text-lg">Госпошлина не оплачивается</p>
            <p class="text-xs mob_l:text-sm">
                в случае прекращения (снятия с учета) ТС, за исключением случая вывоза ТС за границу
                Внимание! Оплата производиться только после того как наш оператор свяжется с Вами по телефону и подтвердит регистрацию заявки                
            </p>
        </div>       
        <div class="mt-5">
            <div class="" id="resultSum">
                {% partial 'cabinetforms/form_total' %}                
            </div>
            <div class="font-bold text-yellow-600 mt-5 text-xs mob_l:text-base">
                Внимание! О ходе рассмотрения заявки Вы будете, проинформированы нашим оператором путем дозвона (убедительная просьба после заполнения заявки оставаться на связи. В случае неудачной попытки связаться с Вами, мы вынуждены будем Вашу заявку отклонить)
            </div>
        </div>
        <input type="hidden" name="prices" value="" id="formPrices">
        <input type="hidden" name="price" value="" id="formPrice">
        <div class="mt-5">
            <button class="btn btn-red w-full max-w-[200px]" data-attach-loading>ОТПРАВИТЬ</button>
        </div> 
    </div>

</form>