<form action="" id="formApp" data-request="onApp" class="font-semibold block w-full" data-request-validate  data-request-files>

    <div class="mb-4">
        {% partial 'cabinet/form-breadcrumbs' breadcrumbs=breadcrumbs %}        
    </div>

    <input type="hidden" name="form" value="{{ form.id }}">
    <input type="hidden" name="page_id" value="{{ page.id }}">

    <h3 class="text-xl font-semibold">Порядок и условия подачи заявления в электронном виде</h3>

    <div class="mt-5">
        {% partial 'cabinetforms/reg-alert' type=1 %}
    </div>

    <div class="mt-5">
        {% partial 'cabinetforms/reg-alert' type=2 %}
    </div>    

    <div class="mt-5 bg-white rounded-lg p-5">        
        <h2 class="form-title">Что изменилось?</h2>
        <div class="mt-5">               
            {% partial 'inputs/radio' input=ubdb641e854928f37798414c5da6b3d54a %}  
        </div>
    </div>

    <div class="mt-5 bg-white rounded-lg p-5">
        <div class="">
            <h2 class="form-title">1. Сведения о транспортном средстве</h2>
        </div>  
        <div class="mt-5 space-y-2">            
            {% partial 'inputs/radio' input=ubbdf43a6718d55ba288e02b5bdfdd7bd5 code='transport' ajax='calcSumForm()' %}    
        </div> 
        <div class="mt-5 grid gap-3 table_l:gap-5 table_l:grid-cols-2">            
            <div class="">
                {% partial 'inputs/text' input=ub540d423f1ab6e69a9b6fc31449ef9cd0 %}              
            </div>
            <div class="">
                {% partial 'inputs/text' input=ub2a35691d674fc73dfc9c905e95f52913 %}              
            </div>
        </div>  
    </div>  

    <div class="mt-5 bg-white rounded-lg p-5">
        <h3 class="form-title">2. Что хотите сделать с номерами?</h3>
        <div class="mt-5">
            {% partial 'cabinetforms/reg-alert' type=3 %}
        </div>
        <div class="mt-5">
            {% partial 'cabinetforms/reg-alert' type=4 %}
        </div>
        <div class="mt-5 ">
            {% partial 'inputs/radio' input=ub83f908bcf2b4af92dbe60438cfa4d8de %} 
        </div>       
    </div>     

    <div class="mt-5 bg-white rounded-lg p-5">
        <h3 class="form-title">3. Где будете получать номера?</h3>
        <div class="mt-5">
            {% partial 'inputs/radio' input=ub31a0ea2531a066d3495ac961447f39c6 code='gde' ajax='calcSumForm()' %}  
        </div>
    </div>

    <div class="mt-5 bg-white rounded-lg p-5">
        <h3 class="form-title">4. Что нужно сделать с ПТС</h3>   
        <div class="mt-5">
            <p class="underline text-xs table_l:text-base">Получите новый ПТС, если старый утрачен, пришёл в негодность или в нём закончилось свободное место</p>
        </div>
        <div class="mt-5">
            {% partial 'inputs/radio' input=ub2bf4fb5f732a9aec568e84cc626c649e %} 
        </div>        
    </div>

    <div class="mt-5 bg-white rounded-lg p-5">
        <h3 class="form-title">5. Документы о праве собственности</h3>   
        <div class="mt-5 ">
            {% partial 'inputs/file' input=ub63c8ac8e197a1619f348efcc1c60efcb %}
        </div>  
        <div class="mt-5 grid grid-cols-1 gap-5">
            <div class="">
                {% partial 'inputs/select' input=ub8eba6eb35df8c562eaf02d7e0e7ac656 %}
            </div>
            <div class="">
                {% partial 'inputs/select' input=ubc2734df076d80e7bbc53ecd0e0836ee5 %}
            </div>
            <div class="">
                {% partial 'inputs/text' input=ube76cea3c741991353287d4d1c0c0945f %}
            </div>
            <div class="">
                {% partial 'inputs/text' input=ubcf2c9253a330589974c7ea4cc57ea122 %}
            </div>
            <div class="">
                {% partial 'inputs/text' input=ubf97e3847f5f36d63b5ab871e148dc2b9 %}
            </div>
            <div class="">
                {% partial 'inputs/text' input=ub2f47eb6544b7cf5760823651fa9d414d %}
            </div>
            <div class="">
                {% partial 'inputs/text' input=ub2b5f9ba195bda5e83c45b35302bb2a16 %}
            </div>
        </div> 
    </div>

    <div class="mt-5 bg-white rounded-lg p-5">
        <h3 class="form-title">6. Ваши данные</h3>      
        <div class="mt-5">
            {% partial 'inputs/radio' input=ubb2731e6c64306da1c01c4ac217ea62fa %}
        </div>  
        <div class="mt-5 grid table_l:grid-cols-4 gap-3 table_l:gap-5">
            <div class="">
                {% partial 'inputs/text' input=ub54535de4774683ff40cdabc27902562d %}
            </div>
            <div class="">
                {% partial 'inputs/text' input=ubb5f801c8e0f392bb481e32da25a03c95 %}
            </div>
            <div class="">
                {% partial 'inputs/text' input=ub26fd9a0525faf6918c844d8f7d79da95 %}
            </div>
            <div class="">
                {% partial 'inputs/text' input=ub5a2558be44c0bf76d0419a2edd7caf40 %}
            </div>
        </div>  
        <div class="mt-5 grid table_l:grid-cols-2 gap-3 table_l:gap-5">
            <div class="">
                {% partial 'inputs/text' input=ubdd76bce310fcb012e324b378c2e23856 %}
            </div>
            <div class="">
                {% partial 'inputs/text' input=ubfb5b14e4eff7271b90fe60c6d034a0d0 %}
            </div>
        </div>
        <div class="mt-5">
            {% partial 'inputs/text' input=ub7f6743dfaf0fca82b08d4086a55cff56 %}
        </div>
        <div class="mt-5 grid table_l:grid-cols-2 gap-3 table_l:gap-5">
            <div class="">
                {% partial 'inputs/text' input=ub32573a63ccab985aab2dbbe01e5fe42d %}
            </div>
            <div class="">
                {% partial 'inputs/text' input=ub7de21023da2222b32021edc8363fd0b3 %}
            </div>
        </div>
        <div class="mt-5">
            {% partial 'inputs/text' input=ube7756064e0e16515245bb0ddf9a74eef %}
        </div>
    </div>

    <div class="mt-5 bg-white rounded-lg p-5">
        <h3 class="form-title">7. Укажите данные доверенности</h3>      
        <div class="mt-5 flex gap-5 flex-wrap flex-col table_l:flex-row">
            <div class="flex-1">
                {% partial 'inputs/select' input=ub37167c91293e922d3954140b9b5e1295 %}
            </div>
            <div class="">
                {% partial 'inputs/text' input=ub4fa59dbdadcb9124c74d73ca65cdbfa7 %}
            </div>
        </div>
        <div class="mt-5 grid grid-cols-1 gap-3 table_l:gap-5">
            <div class="">
                {% partial 'inputs/text' input=ub9784940ce54c387c4881056697f708e5 %}
            </div>
            <div class="">
                {% partial 'inputs/text' input=ub91567b88e01ea762ec98e9e2eaaa9e52 %}
            </div>
            <div class="">
                {% partial 'inputs/text' input=ub25014254a4284a0c39d03d908b03067f %}
            </div>
        </div>
    </div>    

    <div class="mt-5 bg-white rounded-lg p-5">
        <h3 class="form-title">8. Укажите сведения о собственнике</h3>      
        <div class="mt-5">
            {% partial 'inputs/radio' input=ub8d523c259ea491e782cce68bb8c3a7dc %}
        </div>
        <div class="mt-5 grid table_l:grid-cols-4 gap-3 table_l:gap-5">
            <div class="">
                {% partial 'inputs/text' input=ub61402ea94173b94c0ae3036252ec3157 %}    
            </div>
            <div class="">
                {% partial 'inputs/text' input=ubc858ae6bf6d1cf9bcfe8a750fa6e22eb %}    
            </div>
            <div class="">
                {% partial 'inputs/text' input=ubda81e50b705bc1e621b4429ff595c327 %}    
            </div>
            <div class="">
                {% partial 'inputs/text' input=ubfafd6dc036c427396f0654f94999e7ae %}    
            </div>
        </div>
        <div class="mt-5 grid table_l:grid-cols-2 gap-3 table_l:gap-5">
            <div class="">
                {% partial 'inputs/text' input=ubc93bcd83a54995f1da625d31a7e94983 %}    
            </div>
            <div class="">
                {% partial 'inputs/text' input=uba0f0e6defbf460486f4415df0d0d97ce %}    
            </div>
        </div>
        <div class="mt-5">
            {% partial 'inputs/text' input=ubb580b8fda02a12c31e9e00d4a7f42552 %}    
        </div>
        <div class="mt-5 grid table_l:grid-cols-2 gap-3 table_l:gap-5">
            <div class="">
                {% partial 'inputs/text' input=ub26e2180292ba9898ebf3725a94f77a9e %}    
            </div>
            <div class="">
                {% partial 'inputs/text' input=ub69068b12ed29f82d40737c192ce1d09d %}    
            </div>
        </div>
        <div class="mt-5">
            {% partial 'inputs/text' input=ubad4819cb6b415497fcef8dd9e8bd6531 %}    
        </div>
    </div>    
    
    <div class="mt-5 bg-white rounded-lg p-5">
        <h3 class="form-title">9. Документ, удостоверяющий личность</h3>      
        <div class="mt-5">
            {% partial 'inputs/select' input=ub78cc982a17cee0f0fbec4c89aacdbdd6	 %}
        </div>
        <div class="mt-5 grid table_l:grid-cols-3 gap-3 table_l:gap-5">
            <div class="">
                {% partial 'inputs/text' input=ub2adbf1488cdb7c34546220b809545c43 %}
            </div>
            <div class="">
                {% partial 'inputs/text' input=ub2bc6280e1b31d23e8d122a96d2f426e0 %}
            </div>
            <div class="">
                {% partial 'inputs/text' input=ubd5d35466223c89922e52beac0b3259f8 %}
            </div>
        </div>
        <div class="mt-5 flex gap-3 table_l:gap-5 flex-col table_l:flex-row">
            <div class="flex-1">
                {% partial 'inputs/text' input=ub26d14a664503b66c11868c6c8a89bcb0 %}
            </div>
            <div class="">
                {% partial 'inputs/text' input=ub018572384948f2ad736602cd45445ccf %}
            </div>
        </div>
    </div>  

    <div class="mt-5 bg-white rounded-lg p-5">
        <h3 class="form-title">10. Адрес проживания (регистрации)</h3>      
        <div class="mt-5">
            {% partial 'inputs/address' input=ub1ae1c48bb0f6e6d52b26083e388c3a14	 %}
        </div>
    </div> 
    
    <div class="mt-5 bg-white rounded-lg p-5">
        <h3 class="form-title">11. Где вы будете переоформлять ТС ?</h3>      
        <div class="mt-5">
            {% partial 'inputs/address' input=ubee12ea1491c2b34ae46af28fd4643e93 %}
        </div>
    </div> 

    <div class="mt-5 bg-white rounded-lg p-5">
        <h3 class="form-title">12. Укажите дату и время переоформления ТС</h3>
        <div class="mt-5">
            {% partial 'inputs/text' input=ub84d87bda6591201044d3874219bac66c %}
        </div>  
        <div class="mt-5">
            {% partial 'cabinetforms/reg-alert' type=5 %}
        </div>
        <div class="mt-5">
            {% partial 'cabinetforms/check' gos='3' %}            
        </div>
    </div>

    <div class="mt-5 bg-white rounded-lg p-5">
        <div class="mt-5">
            {% partial 'cabinetforms/prices' %} 
        </div>   
        <div class="mt-5 border-l-4 border-yellow-500 pl-5 bg-yellow-50 py-2">
            <p class="font-bold text-base table_l:text-lg">Госпошлина не оплачивается</p>
            <p class="text-xs table_l:text-sm">
                в случае прекращения (снятия с учета) ТС, за исключением случая вывоза ТС за границу
                Внимание! Оплата производиться только после того как наш оператор свяжется с Вами по телефону и подтвердит регистрацию заявки                
            </p>
        </div>       
        <div class="mt-5">
            <div class="" id="resultSum">
                {% partial 'cabinetforms/form_total' %}                
            </div>
            <div class="font-bold text-yellow-600 mt-5 text-xs table_l:text-base">
                Внимание! О ходе рассмотрения заявки Вы будете, проинформированы нашим оператором путем дозвона (убедительная просьба после заполнения заявки оставаться на связи. В случае неудачной попытки связаться с Вами, мы вынуждены будем Вашу заявку отклонить)
            </div>
        </div>
        <input type="hidden" name="prices" value="" id="formPrices">
        <input type="hidden" name="price" value="" id="formPrice">
        <div class="mt-5">
            <button class="btn btn-red w-full max-w-[200px]" data-attach-loading>ОТПРАВИТЬ</button>
        </div> 
    </div>

</form>