<ul class="list-disc ml-5 space-y-1 row-prices text-xs table_l:text-base">
    <li data-prices="1" data-price="3000" data-title="госпошлина за выдачу регистрационных знаков на автомобиль или автобус 3000 рублей">госпошлина за выдачу регистрационных знаков на автомобиль или автобус 3000 рублей</li>
    <li data-prices="2" data-price="2250" data-title="госпошлина за выдачу регистрационных знаков мотоцикл или прицеп 2250 рублей">госпошлина за выдачу регистрационных знаков мотоцикл или прицеп 2250 рублей</li>
    <li data-prices="3" data-price="0" data-title="госпошлина за выдачу регистрационных знаков виртуальных 0 рублей">госпошлина за выдачу регистрационных знаков виртуальных 0 рублей</li>
    <li data-prices="4" data-price="1500" data-title="госпошлина за выдачу свидетельства о регистрации ТС 1500 рублей">госпошлина за выдачу свидетельства о регистрации ТС 1500 рублей</li>
    <li data-prices="5" data-price="525" data-title="госпошлина за внесение изменений в выданный ранее паспорт ТС 525 рублей">госпошлина за внесение изменений в выданный ранее паспорт ТС 525 рублей</li>
    <li data-prices="6" data-price="1200" data-title="госпошлина за выдачу паспорта ТС 1200 рублей">госпошлина за выдачу паспорта ТС 1200 рублей</li>
    <li data-prices="7" data-price="0" data-title="госпошлина за выдачу электронного паспорта ТС 0 рублей">госпошлина за выдачу электронного паспорта ТС 0 рублей</li>
    <li data-prices="8" data-price="300" data-title="300 руб. комиссия" class="hidden">300 руб. комиссия</li>
</ul>