{% if type == 1 %}
    <div class="bg-yellow-50 p-6 rounded-md border border-yellow-300">
        Уважаемый пользователь! Данный раздел предназначен для упрощённой формы регистрации автотранспортных средств, в любом подразделении ГИБДД через портал ГОСУСЛУГИ. Для этого Вам необходимо всего лишь заполнить необходимые поля, для регистрации необходимо ввести логин и пароль, получить который Вы можете в Многофункциональном центре (МФЦ). Во избежание сбоя процедур при регистрации, убедительная просьба удостовериться в подтверждении учетной записи логина и пароля в МФЦ. (Примечание логин и пароль на нашем сайте вводится всего лишь один раз, в последующие разы поисковик сам автоматически определит ваш логин и пароль)
    </div>
{% endif %}

{% if type == 2 %}
    <div class="text-red-2 text-lg bg-white p-5 pl-5 border-l-4 border-red-1">
        <p class="underline"><b>Обратите внимание!</b></p>
        <p class="">Для регистрации транспорта старше 4 лет нужна действующая диагностическая карта</p>
    </div>
{% endif %}

{% if type == 3 %}
    <div class="bg-yellow-50 p-6 rounded-md border border-yellow-300">
        Примечание присвоение государственного регистрационного знака осуществляется в соответствии с цифровым кодом региона места регистрации (прописки) владельца транспортного средства. Пример, если Вы купили транспортное средство, которое стоит на учете в г. Москва автомобильный код региона 799, а сами прописаны в Санкт – Петербурге, то при переоформлении транспортного средства Вам присвоят виртуальный номер с автомобильным кодом 198 код г. Санкт-Петербург, который Вам нужно будет изготовить самостоятельно. Изготовителем государственных регистрационных знаков транспортных средств может быть юридическое лицо или индивидуальный предприниматель, зарегистрированные в РФ Установить сохранённые номера  можно, если регион на номерах совпадает с регионом прописки и номера хранятся не больше 1 года. Сохранённый номер в ГИБДД так – же присваивается виртуальный, если их у Вас нет в наличии, Вам придётся номера изготовить самостоятельно у изготовителей номеров
    </div>
{% endif %}

{% if type == 4 %}
    <div class="text-red-2 text-lg bg-white p-5 pl-5 border-l-4 border-red-1">
        <p class="underline"><b>Не отправляйтесь к изготовителю на машине без номеров</b></p>
        <p class="">За управление ТС без номеров можно получить штраф или лишение прав</p>
    </div>
{% endif %}

{% if type == 5 %}
    <div class="bg-yellow-50 p-6 rounded-md border border-yellow-300">
        Внимание! О ходе рассмотрения заявки Вы будете, проинформированы нашим оператором путем дозвона (убедительная просьба после заполнения заявки оставаться на связи.В случае неудачной попытки связаться с Вами, мы вынуждены будем Вашу заявку отклонить)
    </div>
{% endif %}