{% if type == 1 %}
    <div class="alert-box">
        Уважаемый пользователь! Данный раздел предназначен для упрощённой формы регистрации автотранспортных средств, в любом подразделении ГИБДД через портал ГОСУСЛУГИ. 
        Для этого Вам необходимо всего лишь заполнить необходимые поля, для регистрации необходимо ввести логин и пароль, получить который Вы можете в Многофункциональном центре (МФЦ). 
        Во избежание сбоя процедур при регистрации, убедительная просьба удостовериться в подтверждении учетной записи логина и пароля в МФЦ. (Примечание! Логин и пароль вводится вами при помощи программы удаленного доступа RuDesktop который вы скачивайте пройдя по <a href="https://rudesktop.ru/" target="_blank">ссылке</a>. Через RuDesktop вы вводите свой логин и пароль на госуслугах, дальше все графы заполняет наш оператор.)
    </div>
{% endif %}

{% if type == 2 %}
    <div class="alert-red-box-border-l">
        <p class="underline"><b>Обратите внимание!</b></p>
        <p class="">Для регистрации транспорта старше 4 лет нужна действующая диагностическая карта</p>
    </div>
{% endif %}

{% if type == 3 %}
    <div class="alert-box">
        Примечание присвоение государственного регистрационного знака осуществляется по месту прописки владельца ТС.
Такие номера можно получить в ГИБДД или у изготовителя номерных знаков.
	Установить сохранённые номера  можно, если регион на номерах совпадает с регионом прописки и номера хранятся не больше 1 года.  Сохранённые номера в ГИБДД так – же присваивают виртуальные. В случае если номеров у вас нет в наличии, вам придётся номера изготовить самостоятельно у изготовителей номеров.

    </div>
{% endif %}

{% if type == 4 %}
    <div class="alert-red-box-border-l">
        <p class="underline"><b>Не отправляйтесь к изготовителю на автомобиле без номеров</b></p>
        <p class="">За управление ТС без номеров можно получить штраф или лишение прав</p>
    </div>
{% endif %}

{% if type == 5 %}
    <div class="alert-box">
        Внимание!  В случае  если указанное вами время и дата заняты,  наш оператор свяжется с вами по телефону для выбора  свободной даты и времени регистрации автотранспорта в Госавтоинспекции.
    </div>
{% endif %}

{% if type == 6 %}
    <div class="alert-box">
        Внимание! Заполненное  заявление будет направлено в регистрационное подразделение ГИБДД 
        Когда заявление рассмотрят, в личный кабинет придёт уведомление о результате
    </div>
{% endif %}