<div class="text-green-700">    
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check-circle w-[60px] h-auto"><path d="M22 11.08V12a10 10 0 1 1-5.93-9.14"></path><polyline points="22 4 12 14.01 9 11.01"></polyline></svg>
</div>

<h3 class="title mt-[1.563rem]">Спасибо за обращение!</h3>

<div class="mt-[1.875rem] text-lg font-gilroy-medium">
    <p>Мы свяжемся с Вами в самое ближайшее время в рамках наших рабочих часов.</p>
</div>
