<div class="container flex py-8 items-start gap-x-8">
    
    <div class="profile-content font-gilroy-medium">

        <div class="mb-4 border-b border-gray-200 pb-4 flex gap-4">
            <div class="flex-1">
                <div class="text-sm">Документ создан:</div>
                <div class=""><b>{{ document.created_at | date('d.m.Y год. H:i') }}</b></div> 
            </div>   
            <a href="{{ document.form.pfiles | first . path }}" target="_blank" class="btn btn-secondary px-4 text-sm">
                <svg xmlns="http://www.w3.org/2000/svg" class="size-5" fill="currentColor" viewBox="0 0 256 256"><path d="M214.67,72H200V40a8,8,0,0,0-8-8H64a8,8,0,0,0-8,8V72H41.33C27.36,72,16,82.77,16,96v80a8,8,0,0,0,8,8H56v32a8,8,0,0,0,8,8H192a8,8,0,0,0,8-8V184h32a8,8,0,0,0,8-8V96C240,82.77,228.64,72,214.67,72ZM72,48H184V72H72ZM184,208H72V160H184Zm40-40H200V152a8,8,0,0,0-8-8H64a8,8,0,0,0-8,8v16H32V96c0-4.41,4.19-8,9.33-8H214.67c5.14,0,9.33,3.59,9.33,8Zm-24-52a12,12,0,1,1-12-12A12,12,0,0,1,200,116Z"></path></svg>
                Скачать пустой бланк
            </a>
            <a href="{{ document.link }}/open?type=pdf" target="_blank" class="btn btn-red px-4 text-sm">
                <svg xmlns="http://www.w3.org/2000/svg" class="size-5" fill="currentColor" viewBox="0 0 256 256"><path d="M224,152a8,8,0,0,1-8,8H192v16h16a8,8,0,0,1,0,16H192v16a8,8,0,0,1-16,0V152a8,8,0,0,1,8-8h32A8,8,0,0,1,224,152ZM92,172a28,28,0,0,1-28,28H56v8a8,8,0,0,1-16,0V152a8,8,0,0,1,8-8H64A28,28,0,0,1,92,172Zm-16,0a12,12,0,0,0-12-12H56v24h8A12,12,0,0,0,76,172Zm88,8a36,36,0,0,1-36,36H112a8,8,0,0,1-8-8V152a8,8,0,0,1,8-8h16A36,36,0,0,1,164,180Zm-16,0a20,20,0,0,0-20-20h-8v40h8A20,20,0,0,0,148,180ZM40,112V40A16,16,0,0,1,56,24h96a8,8,0,0,1,5.66,2.34l56,56A8,8,0,0,1,216,88v24a8,8,0,0,1-16,0V96H152a8,8,0,0,1-8-8V40H56v72a8,8,0,0,1-16,0ZM160,80h28.69L160,51.31Z"></path></svg>
                Открыть для печати
            </a>
        </div>         

        <h2 class="text-3xl text-blue-4 font-semibold text-pretty mb-6">{{ document.form.name }}</h2>        

        <div class="space-y-6">

            <div class="bg-white p-4 rounded-lg flex justify-between font-bold">
                <div class="">Место составления {{ document.data.ubc65966cadb13e5706122b53eb17fbea7 }}</div>
                <div class="">{{ document.data.ub773b284a8e8b4263b2f3c7d67be8ad5f | date('d.m.Y год.') }}</div>
            </div>
            
            <div class="bg-white p-4 rounded-lg">
                <h4 class="text-xl font-semibold text-blue-2">Мы, Продавец</h4>
                <hr class="my-2" >
                <div class="mb-2">
                    <div class=""><b>Фамилия:</b> {{ document.data.ub53c98b6d38610f07ae012064315a5c32 }}</div>
                    <div class=""><b>Имя:</b> {{ document.data.uba3e105ee913b56cfec000a35499dcd47 }}</div>
                    <div class=""><b>Отчество:</b> {{ document.data.ube92cba9ee44475afb1ecfa249f25ab7c }}</div>
                    <div class=""><b>Дата рождения:</b> {{ document.data.ubf16e6c5c4067950c35b18c5645829f55 | date('d.m.Y год.') }}</div>
                </div>
                <h4 class="text-lg font-semibold text-blue-2">паспорт</h4>
                <hr class="my-2" >
                <div class="mb-2">
                    <div class=""><b>Серия:</b> {{ document.data.ub2e8f10973549ad175c51917c10790b58 }}</div>   
                    <div class=""><b>Номер:</b> {{ document.data.ub8dc0718b9d1bd93084142623660bb8f4 }}</div>  
                    <div class=""><b>Когда:</b> {{ document.data.ub1d4431ec21669ef49b3a017b57e67b1e | date('d.m.Y год.') }}</div>  
                    <div class=""><b>Кем выдан:</b> {{ document.data.ube4de3eb186f6fd7e109d4308b0523973 }}</div>  
                    <div class=""><b>Адрес регистрации (прописки):</b> {{ document.data.ub78feef39b85cad81ba69a839e713ee69 }}</div> 
                </div>
            </div>
            
            {% if document.data.ub4be93eeceea6120281a0054229dbc8a6 %}
                <div class="bg-white p-4 rounded-lg">
                    <h4 class="text-xl font-semibold text-blue-2">Представитель собственника</h4>
                    <hr class="my-2" >
                    <div class="mb-2">
                        <div class=""><b>Фамилия:</b> {{ document.data.ub4be93eeceea6120281a0054229dbc8a6 }}</div>
                        <div class=""><b>Имя:</b> {{ document.data.ub56d2ccff210e13c17d2be48865ce8d63 }}</div>
                        <div class=""><b>Отчество:</b> {{ document.data.ubf2ddbf3946db0d59421528e4d51cea2d }}</div>
                        <div class=""><b>Дата рождения:</b> {{ document.data.ub42e1e4a62837888edeb86823e6bcf496 | date('d.m.Y год.') }}</div>
                    </div>
                    <h4 class="text-lg font-semibold text-blue-2">паспорт</h4>
                    <hr class="my-2" >
                    <div class="mb-2">
                        <div class=""><b>Серия:</b> {{ document.data.ub6603bcf1355498d2cae059e5a74f99d4 }}</div>   
                        <div class=""><b>Номер:</b> {{ document.data.ubd136cdae3550e68bd95b0247b0e41d41 }}</div>  
                        <div class=""><b>Когда:</b> {{ document.data.ub4cfb20aa21a8caf3152a8829cc100904 | date('d.m.Y год.') }}</div>  
                        <div class=""><b>Кем выдан:</b> {{ document.data.ub63d5b862dc44935929d3e68d99c24cd4 }}</div>  
                        <div class=""><b>Адрес регистрации (прописки):</b> {{ document.data.ubb1bf3c386e44a11a26d122f46c39747b }}</div> 
                    </div>
                    <h4 class="text-lg font-semibold text-blue-2">Доверенность</h4>
                    <hr class="my-2" >
                    <div class="mb-2">
                        <div class=""><b>Серия:</b> {{ document.data.ub1f94370d29f8b14f7e03700069798b93 }}</div>   
                        <div class=""><b>Номер:</b> {{ document.data.ubd1cb41abcd576d05d24628ce9022874b }}</div>  
                        <div class=""><b>Когда:</b> {{ document.data.ubacc9a48e92f815fdc93cf25401ad3651 | date('d.m.Y год.') }}</div>  
                        <div class=""><b>Кем выдан:</b> {{ document.data.ub64f0077abda44b9ed8758b3a5cbd08d0 }}</div>  
                    </div>
                </div>
            {% endif %}

            <div class="bg-white p-4 rounded-lg">
                <h4 class="text-xl font-semibold text-blue-2">и Покупатель</h4>
                <hr class="my-2" >
                <div class="mb-2">
                    <div class=""><b>Фамилия:</b> {{ document.data.ubd8c93995c91aecf357822790f5d09bf5 }}</div>
                    <div class=""><b>Имя:</b> {{ document.data.ubde07983e5acb7dd65c2b14abdd713cc9 }}</div>
                    <div class=""><b>Отчество:</b> {{ document.data.ub972a351971665aeaa8a63028ec75b743 }}</div>
                    <div class=""><b>Дата рождения:</b> {{ document.data.ub3bdeabb3914e5b73a2039d798048d8c0 | date('d.m.Y год.') }}</div>
                </div>
                <h4 class="text-lg font-semibold text-blue-2">паспорт</h4>
                <hr class="my-2" >
                <div class="mb-2">
                    <div class=""><b>Серия:</b> {{ document.data.ube1a7f4811c3f981dbef5b624a6d18156 }}</div>   
                    <div class=""><b>Номер:</b> {{ document.data.ubd459848c5cecdcb91cc3421cc0212d17 }}</div>  
                    <div class=""><b>Когда:</b> {{ document.data.ub9e5e646f513bfd83932cab54b3a26bca | date('d.m.Y год.') }}</div>  
                    <div class=""><b>Кем выдан:</b> {{ document.data.ub303a961a2e74a61a4b5027d75fb35649 }}</div>  
                    <div class=""><b>Адрес регистрации (прописки):</b> {{ document.data.ub623433b7eea7ecf45a000c3315c56f5d }}</div> 
                </div>
            </div>

            <div class="bg-white p-4 rounded-lg">
                <h4 class="text-xl font-semibold text-blue-2">Транспортное средство</h4>
                <hr class="my-2" >
                <div class="mb-2">
                    <div class=""><b>Марка:</b> {{ document.data.ubd8c93995c91aecf357822790f5d09bf5 }}</div>
                    <div class=""><b>Модель:</b> {{ document.data.ubde07983e5acb7dd65c2b14abdd713cc9 }}</div>
                    <div class=""><b>Тип транспортного средства (легковой, грузовой, автобус и т.д.):</b> {{ document.data.ub2b84e182c014b2fa45740d989f59ec75 }}</div>
                    <div class=""><b>Государственный регистрационный знак:</b> {{ document.data.ub20538c592a229aaf184429c934c3b26e }}</div>
                    <div class=""><b>Год выпуска:</b> {{ document.data.ub6bb1be84ccb3cf54aa1aefdb52b50019 }}</div>
                    <div class=""><b>Цвет:</b> {{ document.data.ubcc153dda469f24d13bfa6710ea1c7e31 }}</div>
                    <div class=""><b>Идентификационный номер (VIN):</b> {{ document.data.ubda8549c121cbbb0c383a7aa1cd52d7e0 }}</div>
                    <div class=""><b>Номер кузова:</b> {{ document.data.ub59cd336913b10a54bc14e138b8748c28 }}</div>
                    <div class=""><b>Номер шасси (рамы):</b> {{ document.data.ub9d6e41c7d597e4dbfdede88f663a7f3f }}</div>
                </div>
                <h4 class="text-lg font-semibold text-blue-2">Паспорт транспортного средства</h4>
                <hr class="my-2" >
                <div class="mb-2">
                    <div class=""><b>Серия:</b> {{ document.data.ub1d5333e1d38ec91a171c1fbaff5f285c }}</div>
                    <div class=""><b>Номер:</b> {{ document.data.ubf462f99138b4d6ac6fa94e47ae27a1d9 }}</div>
                    <div class=""><b>Когда:</b> {{ document.data.ubd45217bd10063ea19c3202bea596060e | date('d.m.Y год.') }}</div>
                    <div class=""><b>Кем выдан:</b> {{ document.data.ubda7955f2a1ddef2ecb9201d9ea4a1605 }}</div>
                </div>
                <h4 class="text-lg font-semibold text-blue-2">Свидетельство о регистрации ТС</h4>
                <hr class="my-2" >
                <div class="mb-2">
                    <div class=""><b>Серия:</b> {{ document.data.ub9b010da79cae5a1dc21899670d3f7c7b }}</div>
                    <div class=""><b>Номер:</b> {{ document.data.ubee4c7788434ef5754aa166a299a5f1b8 }}</div>
                    <div class=""><b>Когда:</b> {{ document.data.ub736e1ac85e417373953d215024792368 | date('d.m.Y год.') }}</div>
                    <div class=""><b>Кем выдан:</b> {{ document.data.ub38d9d5de0ed0b4600d1190f357fe269d }}</div>
                    <div class=""><b>Стоимостью:</b> {{ document.data.ub167441a1472d707582f08df5403e7b11 }}</div>
                </div>
            </div>

            <div class="alert-box">
                Продавец передает его Покупателю, а Покупатель принимает данное транспортное средство (прицеп номерной агрегат) и оплачивает его стоимость. Продавец гарантирует, что  автомобиль никому не продан, автомобиль,  (прицеп номерной агрегат)  в розыске не значатся, в залоге не состоит, ограничения, запреты на совершение регистрационных действий (арест) не наложены.   Настоящий договор вступает в силу с момента подписания и составлен в трех экземплярах, имеющий равную юридическую силу.
            </div>

        </div>       

    </div>

    <div class="profile-sidebar"> 
        {% partial 'cabinet/sidebar' user=user pages=pages %}        
    </div>

</div>