{% if form == 1 %}

<div class="" id="modalForm">    

    <h4 class="text-3xl text-center font-russo">Заказать</h4>

    <p class="mt-2 text-center">Оставляйте свой номер телефона и мы вам перезвоним</p>

    <form action="" data-request="onForm" data-request-validate data-request-success="this.reset();">

        <input type="hidden" name="form" value="1">

        <div class="">
            <label for="" class="label label-text">Ваше имя:</label>
            <input type="text" name="name" placeholder="" class="input input-bordered w-full" />
            <div data-validate-for="name" class="error"></div>
        </div>

        <div class="grid grid-cols-2 mt-3 gap-3">
            <div class="">
                <label for="" class="label label-text">Номер телефона:</label>
                <input type="text" name="phone" placeholder="" class="input input-bordered w-full" />
                <div data-validate-for="phone" class="error"></div>
            </div>    
            <div class="">
                <label for="" class="label label-text">E-mail:</label>
                <input type="email" name="email" placeholder="" class="input input-bordered w-full" />
                <div data-validate-for="email" class="error"></div>
            </div>
        </div>

        <div class="mt-3">
            <label for="" class="label label-text">Текст сообщения:</label>
            <textarea name="content" class="textarea textarea-bordered w-full" placeholder="" rows="4"></textarea>
            <div data-validate-for="content" class="error"></div>
        </div>

        <div class="mt-3">
            <div class="flex">
                <input type="checkbox" id="check-politic" name="politic" class="checkbox checkbox-sm flex-none mr-2 rounded-sm" checked>
                <label for="check-politic" class="text-xs">Нажимая кнопку «Отправить», я даю свое согласие на обработку моих персональных данных, в соответствии с Федеральным законом от 27.07.2006 г. №152-ФЗ «О персональных данных», на условиях и для целей, определенных в <a href="/politika" target="_blank" class="text-red underline hover:no-underline">Политике на обработку персональных данных</a></label>
            </div>
            <div data-validate-for="politic" class="error"></div>
        </div>

        <div class="mt-3">
            <button class="btn btn-primary" data-attach-loading>Отправить</button>
        </div>

        <div id="formResult"></div>

    </form>

</div>


{% endif %}


{% if form == 2 %}

<div class="" id="modalForm">  

    <h4 class="text-3xl text-center font-russo">Заказать</h4>

    <p class="mt-2 text-center">Оставляйте свой номер телефона и мы вам перезвоним</p>

    <div class="mt-3 bg-gray-50 p-4 grid grid-cols-[80px,1fr] gap-4">

        <div class="size-[80px]">
            <img src="{{ product.preview.thumb(100,100) }}" alt="" class="size-full object-contain">
        </div>

        <div class="">
            <h3 class="text-lg font-medium">{{ product.name }}</h3>
        </div>

    </div>

    <form action="" data-request="onForm" data-request-validate data-request-success="this.reset();">

        <input type="hidden" name="form" value="1">
        <input type="hidden" name="product" value="{{ product.id }}">

        <div class="">
            <label for="" class="label label-text">Ваше имя:</label>
            <input type="text" name="name" placeholder="" class="input input-bordered w-full" />
            <div data-validate-for="name" class="error"></div>
        </div>

        <div class="grid grid-cols-2 mt-3 gap-3">
            <div class="">
                <label for="" class="label label-text">Номер телефона:</label>
                <input type="text" name="phone" placeholder="" class="input input-bordered w-full" />
                <div data-validate-for="phone" class="error"></div>
            </div>    
            <div class="">
                <label for="" class="label label-text">E-mail:</label>
                <input type="email" name="email" placeholder="" class="input input-bordered w-full" />
                <div data-validate-for="email" class="error"></div>
            </div>
        </div>

        <div class="mt-3">
            <label for="" class="label label-text">Текст сообщения:</label>
            <textarea name="content" class="textarea textarea-bordered w-full" placeholder="" rows="4"></textarea>
            <div data-validate-for="content" class="error"></div>
        </div>

        <div class="mt-3">
            <div class="flex">
                <input type="checkbox" id="check-politic" name="politic" class="checkbox checkbox-sm flex-none mr-2 rounded-sm" checked>
                <label for="check-politic" class="text-xs">Нажимая кнопку «Отправить», я даю свое согласие на обработку моих персональных данных, в соответствии с Федеральным законом от 27.07.2006 г. №152-ФЗ «О персональных данных», на условиях и для целей, определенных в <a href="/politika" target="_blank" class="text-red underline hover:no-underline">Политике на обработку персональных данных</a></label>
            </div>
            <div data-validate-for="politic" class="error"></div>
        </div>

        <div class="mt-3">
            <button class="btn btn-primary" data-attach-loading>Отправить</button>
        </div>

        <div id="formResult"></div>

    </form>

</div>


{% endif %}