<div class="bg-white pt-[2rem] table_sm:pt-[2.5rem] pb-[2rem] table_sm:pb-[2.813rem] rounded-xl px-[1.5rem] table_sm:px-[2.438rem]">

    <div class="">
        
        <form class="w-full block" data-request="onSendForm" data-request-success="formResult(this, data)" data-request-validate>

            <input type="hidden" name="form" value="1">
    
            <div class="flex flex-col gap-4">
                <div class="">
                    <input type="text" name="username" placeholder="Ваше имя" class="input input-bordered w-full">
                </div>
                <div class="">
                    <input type="text" name="phone" placeholder="Ваш телефон" class="input input-bordered w-full">
                </div>
                <div class="">
                    <input type="email" name="email" placeholder="Ваш E-mail" class="input input-bordered w-full">
                </div>
                <div class="">
                    <textarea name="message" placeholder="Текст вашего сообщения" id="" cols="30" rows="5" class="textarea textarea-bordered w-full"></textarea>
                </div>
            </div>
    
            <div class="">
                <button class="btn btn-red" data-attach-loading>Заказать услугу</button>
            </div>
    
        </form>

    </div>

</div>