{% if page.rows | length > 0 %}


<form action="" data-request="onApp" id="appForm"  data-request-validate>

   

    <input type="hidden" name="form" value="{{ page.id }}">    

    {% if page.description %}
        <div class="text mb-4">
            {{ page.description | raw }}
        </div>
    {% endif %}   

    <div class="space-y-5 form-body">
        {% for row in page.rows %}
            <div class="">
                {% partial 'form-rows/' ~ row._group row=row page=page %}
            </div>
        {% endfor %}
    </div>

    {% if page.content %}
        <div class="text mt-4">
            {{ page.content | raw }}
        </div>
    {% endif %}

    <!-- <div class="mt-4 space-y-2">
        <div class="alert alert-warning">
            <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z"></path></svg>
            <span>
                Внимание! Оплата производиться только после того как наш оператор свяжется с вами по телефону и подтвердит регистрацию заявки
            </span>
        </div>
        <div class="alert alert-info">
            <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg>
            <span>Оставайтесь на связи, в  ближайшее время  наш оператор с вами свяжется!</span>
        </div>
    </div> -->
    
    <div class="mt-4 flex justify-end">
        <button class="btn btn-red btn-lg w-full table_l:w-auto" data-attach-loading>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6"><path stroke-linecap="round" stroke-linejoin="round" d="M13.5 16.875h3.375m0 0h3.375m-3.375 0V13.5m0 3.375v3.375M6 10.5h2.25a2.25 2.25 0 002.25-2.25V6a2.25 2.25 0 00-2.25-2.25H6A2.25 2.25 0 003.75 6v2.25A2.25 2.25 0 006 10.5zm0 9.75h2.25A2.25 2.25 0 0010.5 18v-2.25a2.25 2.25 0 00-2.25-2.25H6a2.25 2.25 0 00-2.25 2.25V18A2.25 2.25 0 006 20.25zm9.75-9.75H18a2.25 2.25 0 002.25-2.25V6A2.25 2.25 0 0018 3.75h-2.25A2.25 2.25 0 0013.5 6v2.25a2.25 2.25 0 002.25 2.25z"></path></svg>                  
            Отправить
        </button>
    </div>

</form>

{% endif %}