<div class="container">

    <div class="">
        {% partial "breadcrumbs/items" items=breadcrumbs %}   
    </div>
    
    <div class="flex items-start pt-2 pb-9">
        
        <div class="w-[320px] flex-none">
            {% partial 'sidebars/servises' %}
        </div>        
    
        <div class="flex-1">

            <h1 class="title-h1">Гос номер: {{ page.num }}</h1> 

            <div class="space-y-2">
                <div class="bg-white px-3 py-2">
                    <div class="font-gilroy-bold">Место:</div>
                    {{ page.address | join(' ') }}
                </div>
                <div class="bg-white px-3 py-2">
                    <div class="font-gilroy-bold">Телефон:</div>
                     {{ page.contacts }}
                </div>
                <div class="bg-white px-3 py-2">
                    <div class="font-gilroy-bold">Номер:</div>
                    {{ page.props.num_sklad }}
                </div>               
                <div class="bg-white px-3 py-2">
                    <div class="font-gilroy-bold">Оформление:</div> 
                    {{ page.props.is_play }}
                </div>
                <div class="bg-white px-3 py-2">
                    <div class="font-gilroy-bold">Оформлением занимается: </div>
                    {{ page.props.paperwork }}
                </div>   
                <div class="bg-white px-3 py-2">
                    <a href="{{ page.photo.path }}" data-fancybox>
                        <img src="{{ page.photo.thumb(100,100,{mode:'crop'}) }}" alt="">
                    </a>
                </div>              
            </div>    

            <div class="mt-9">
                <h3 class="text-2xl font-gilroy-bold">Лента обьявлений по продаже покупке номеров</h3>
                <div class="mt-4 space-y-3">
                    {% partial 'announcements/items' items=items %}
                </div>
            </div>   

        </div>        
    
    </div>

</div>