description = "Основной шаблон сайта"

[app]

[staticPage]
useContent = 1
default = 0

[global]
handle = "UdSettings"
==
<!DOCTYPE html>
<html lang="en">
<head>
    {% partial "site/head" %}
</head>

<body class="min-h-screen flex flex-col font-gilroy">

    <header class="sticky top-0 relative z-50 transition-shadow">
        {% partial "site/header" %}
    </header>
    
    <div class="main flex-1 bg-grey-2">
        {% page %}        
    </div>

    <footer class="mt-auto bg-blue-1 text-white">
        {% partial "site/footer" %}    
    </footer>

    {% partial "site/scripts" %}    
    
</body>

</html>