<div class="">

    {% if input %}

        <div class="text-pretty text-xs mob_l:text-base">{{ input.title }}</div>        
        <div class="mt-2">
            <div id="{{ input.code }}" class="space-y-2">
                <input type="file" name="{{ input.code }}[]" value="" class="file-input file-input-bordered w-full">
            </div>            
        </div>
        {% if input.comment %}
            <div class="mt-2 text-xs text-red-1">{{ input.comment }}</div>
        {% endif %}  
        <div data-validate-for="{{ input.code }}" class="error"></div>

        <div class="mt-2 flex justify-end">
            <a href="#" class="btn btn-xs btn-primary" data-id="{{ input.code }}" onclick="cloneInput(this, event)">Добавить еще водителя</a>
        </div>

    {% else %}
        <div class="alert alert-warning text-xs p-3 rounded-md">
            Поле не создано!
        </div>
    {% endif %}

</div>