<div class="">
    <div class="flex items-start">
        <input type="checkbox" id="check_politic" name="check_politic" value="1" class="checkbox checkbox-xs mob_l:checkbox-sm me-2 flex-none rounded-sm">
        <label for="check_politic" class="leading-none text-sm mob_l:text-base">Я ознакомлен с порядком и условиями подачи заявления в электронном виде, и даю свое согласие на обработку моих персональных данных</label>
    </div>
    <div data-validate-for="check_politic" class="error"></div> 
</div>

<div class="">
    <div class="flex items-start">
        <input type="checkbox" id="check_gos" name="check_gos" value="1" class="checkbox checkbox-xs mob_l:checkbox-sm me-2 flex-none rounded-sm">
        <label for="check_gos" class="leading-none text-sm mob_l:text-base">Госпошлина была оплачена</label>
    </div>
    <div data-validate-for="check_gos" class="error"></div> 
</div>