<fieldset class="mt-2 border pt-5 pb-5 px-5 rounded-lg input_group">

    {% if row.title %}
        <legend class="font-gilroy-medium text-lg px-3 m-0">{{ row.title }}</legend>
    {% endif %} 
    
    {% if row.cols > 1 %}        
        <div class="grid gr_{{ row.cols }}">
            {% for item in row.childrens %}
                <div class="">              
                    {% partial 'form-rows/' ~ item._group row=item %}
                </div>
            {% endfor %}
        </div>   
    {% else %}
        <div class=" space-y-4">
            {% for item in row.childrens %}
                <div class="">              
                    {% partial 'form-rows/' ~ item._group row=item %}
                </div>
            {% endfor %}
        </div>
    {% endif %}

</fieldset>