{% if row.partial_api == 1 %}

    <div class="alert alert-warning">
        <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z"></path></svg>
        <div class="">
            Уважаемый пользователь! Данный раздел предназначен для упрощённой формы регистрации автотранспортных средств, в любом подразделении ГИБДД через портал ГОСУСЛУГИ. Для этого Вам необходимо всего лишь заполнить необходимые поля, для регистрации необходимо ввести логин и пароль, получить который Вы можете в Многофункциональном центре (МФЦ). Во избежание сбоя процедур при регистрации, убедительная просьба удостовериться в подтверждении учетной записи логина и пароля в МФЦ. (Примечание логин и пароль на нашем сайте вводится всего лишь один раз, в последующие разы поисковик сам автоматически определит ваш логин и пароль)
        </div>
    </div>

    <div class="alert alert-error mt-2">
        <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
        </svg>
        <div class="">
            <b>Обратите внимание!</b> <br>
            Для регистрации транспорта старше 4 лет нужна действующая диагностическая карта
        </div>
    </div>

{% endif %}

{% if row.partial_api == 2 %}    

    <div role="alert" class="alert alert-success block">      
        <p class="text-2xl font-semibold text-center w-full">Стоимость услуги <b class="font-semibold">{{ page.price }}</b> руб.</p>
    </div>

    <div class="mt-2 bg-black/5 p-5 rounded-2xl">
        <h3 class="font-semibold text-lg">Стоимость услуги</h3>
        <ul class="mt-1">
            <li>госпошлина за выдачу регистрационных знаков на автомобиль или автобус 2000 рублей</li>
            <li>госпошлина за выдачу регистрационных знаков мотоцикл или прицеп 1500 рублей</li>
            <li>госпошлина за выдачу регистрационных знаков виртуальных 0 рублей </li>
            <li>госпошлина за выдачу свидетельства о регистрации ТС 500 рублей </li>
            <li>госпошлина за внесение изменений в выданный ранее паспорт ТС 350 рублей </li>
            <li>госпошлина за выдачу паспорта ТС 800 рублей </li>
            <li>госпошлина за выдачу электронного паспорта ТС 0 рублей</li>
        </ul>
        <div class="mt-2">
            <b>Госпошлина не оплачивается</b> <br>
            в случае прекращения (снятия с учета) ТС, за исключением случая вывоза ТС за границу
        </div>
    </div>

    <div class="alert alert-warning mt-2">
        <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z"></path></svg>
        <div class="">
            Внимание! Оплата производиться только после того как наш оператор свяжется с Вами по телефону и подтвердит регистрацию заявки
        </div>
    </div>

{% endif %}