<div class="flex justify-center mt-3">

    <div class="bg-white  rounded-md py-8 px-8 border w-full">

        <div class="text-green-800 flex justify-center">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-[3.75rem] h-[3.75rem]">
                <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
            </svg>          
        </div>

        <h3 class="text-txt-30 text-blue-2 text-center">Объявление успешно создана!</h3>

        <p class="text-xl mt-5 text-center">
            Мы получили Вашу заявку, в скором времени с Вами свяжется наш менеджер!
        </p>

        <div class="text-center text-2xl font-bold pt-5">
            <a href="{{ data.redirect }}?type={{ data.type }}" class="text-red-1 underline hover:no-underline">Перейти к списку гос номеров</a>            
        </div>

    </div>

</div>