<div class=" bg-blue/5">
    <div class="container py-1 lg:py-3">
        {% partial 'breadcrumbs/wrap' items=breadcrumbs %}
    </div>
</div>

<div class="container flex gap-x-9 mt-7 items-start pb-16 px-2">

    <div class="w-[300px] bg-gray-10 relative z-10 hidden lg:block">
        {% partial 'catalog/sidebar' %}
    </div>
    
    <div class="flex-1">

        <h1 class="title-h1">{{ this.page.title }}</h1>

        {% if filters %}
            <div class="relative z-10 mt-4">
                {% partial 'filter/wrap' filters=filters %}
            </div>
        {% endif %}
        
        <div class="mt-5 grid grid-cols-2 md:grid-cols-3 lg:grid-cols-2 xl:grid-cols-3 gap-x-3 lg:gap-x-6 gap-y-6" id="products">
            {% partial 'catalog/products' items=items %}           
        </div>

    </div>

</div>