<div class="product-item">

    <div class="flex flex-col border-2 border-gray-10 bg-white px-2 sm:px-5 py-4 rounded-md min-h-full ">
        <a href="{{ item.link }}" class="mb-4 aspect-w-16 aspect-h-9 block">
            {% if item.preview %}
                <img src="{{ item.preview.thumb(300,170) }}" alt="{{ item.name }}" class="block w-full h-full object-contain">
            {% else %}
                <img src="{{ 'assets/images/no-photo.jpg' | theme }}" alt="{{ item.name }}" class="block w-full h-full object-contain">
            {% endif %}
        </a>
        <h2 class="text-sm md:text-base font-bold mb-4 leading-tight text-pretty hover:text-red">
            <a href="{{ item.link }}">{{ item.name }}</a>
        </h2>
        <div class="mb-4 flex-1 text-[9px] md:text-xs p-intro">
            {{ item.description | md }}
        </div>

        {% if item.options | length %}
            <div class="text-xs/none mb-4">
                {% for option in item.options %}
                    <div class="flex">
                        <span class="">{{ option.title }}:</span>
                        <span class="flex-1 border-b border-b-gray-50 border-dashed mx-2"></span>
                        <span class="">{{ option.value }}</span>
                    </div>
                {% endfor %}
            </div>
        {% endif %}

        {% if item.pdf_content %}
            <div class="py-1 mb-3 flex items-center">
                <svg xmlns="http://www.w3.org/2000/svg" class="me-1 size-3 sm:size-5" fill="#000000" viewBox="0 0 256 256"><path d="M224,152a8,8,0,0,1-8,8H192v16h16a8,8,0,0,1,0,16H192v16a8,8,0,0,1-16,0V152a8,8,0,0,1,8-8h32A8,8,0,0,1,224,152ZM92,172a28,28,0,0,1-28,28H56v8a8,8,0,0,1-16,0V152a8,8,0,0,1,8-8H64A28,28,0,0,1,92,172Zm-16,0a12,12,0,0,0-12-12H56v24h8A12,12,0,0,0,76,172Zm88,8a36,36,0,0,1-36,36H112a8,8,0,0,1-8-8V152a8,8,0,0,1,8-8h16A36,36,0,0,1,164,180Zm-16,0a20,20,0,0,0-20-20h-8v40h8A20,20,0,0,0,148,180ZM40,112V40A16,16,0,0,1,56,24h96a8,8,0,0,1,5.66,2.34l56,56A8,8,0,0,1,216,88v24a8,8,0,0,1-16,0V96H152a8,8,0,0,1-8-8V40H56v72a8,8,0,0,1-16,0ZM160,80h28.69L160,51.31Z"></path></svg>
                <a href="{{ item.pdf_content.path }}" target="_blank" class="text-red underline hover:no-underline text-xs sm:text-base">Все характеристики</a>
            </div>    
        {% endif %} 

        <a href="{{ item.link }}" class="py-2 bg-blue-1 text-white text-center hover:bg-red hover:cursor-pointer rounded-md text-xs md:text-base">Подробнее</a>
    </div>

</div>