[viewBag]
snippetCode = "btnPageLInk"
snippetName = "Ссылка на страницу"
snippetDescription = "Ссылка на страницу"
snippetProperties[page_id][title] = "ID страницы"
snippetProperties[page_id][type] = "string"
snippetProperties[page_id][default] = ""
snippetProperties[page_id][options][] = ""
snippetProperties[title][title] = "Заголовок"
snippetProperties[title][type] = "string"
snippetProperties[title][default] = ""
snippetProperties[title][options][] = ""
==
<?php
use Saybme\Ub\Models\Prpage;

function onStart(){     
    if(trim($this->page_id)){
        $obj = Prpage::find($this->page_id);
        $this['form_link'] = $obj;
    }      
}
?>
==
<div class="mb-4 flex justify-center">
    <a href="{{ form_link.link }}" class="btn btn-red btn-lg">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
        </svg>          
        {{ title }}
    </a>
</div>