[viewBag]
snippetCode = "organigation"
snippetName = "Контакты"
snippetDescription = "Вывод контактов c картой"
==

<div class="pt-4">

    <div class="border border-gray-10 bg-gray-10 rounded-md sm:flex">
        
        <div class="flex-1 px-4 py-4">
            <h3 class="text-xl font-semibold mb-3">Общество с ограниченной ответственностью «Движение ДВ» </h3>
            <div class="text-pretty">
                Юр. Адрес 690090, г. Владивосток ул. Набережная 10, оф 122 <br>
                ИНН/КПП 2536223901 / 254001001 <br>
                ОГРН 1102536000270<br>
                ОКПО 65440431<br>
                ОКАТО 05401364000
            </div>
        </div>

        <div class="relative h-[250px] sm:h-[400px] w-full sm:w-[60%] float-none">
            <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3Ae89d1766f98549745bc11714cd4e0ed0e618b2e80c2c31216bc53702914bdea9&amp;source=constructor" class="block size-full" frameborder="0"></iframe>
        </div>

    </div>

</div>