[catalog brenner]
slug = "{{ :slug }}"
category = 2
type = "getCategoryPage"
==
<div class="container pt-7 pb-10 sm:pb-20 px-2">   

    {% set brenner = brenner.catalog %}   
    

    <h3 class="section-title text-center mt-6">{{ brenner.page.name }}</h3>
    
    <div class="mt-6 categories-4">
        {% for item in brenner.items %}
            <a href="{{ item.link }}" class="category-item">
                <div class="">
                    <img src="{{ item.photo.thumb(false,45) }}" alt="{{ item.name }}" class="category-item-icon">
                </div>
                <h2 class="category-item-h2">{{ item.name }}</h2>
            </a>
        {% endfor %}
    </div>

</div>