<div class="lg:container px-2 lg:px-0 py-9 pb-16">

    <div class="text-center">
        <h3 class="section-title">КОНТРАКТЫ</h3>
        <p class="section-intro">ВЫСОКОЕ КАЧЕСТВО - ПРИЯТНАЯ ЦЕНА</p>
    </div>

    <div class="mt-14">
        
        <div class="f-carousel command-carousel hidden" id="">
            {% for item in [1,2,3,4] %}
                <div class="bg-gray rounded-2xl command-carousel-row f-carousel__slide">
                    <div class="aspect-w-16 aspect-h-16"></div>
                </div>
            {% endfor %}
        </div>

    </div>

</div> 