<div class="text">
    {{ page.content | content }}
</div>

<div class="alert alert-warning">
    <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z"></path></svg>
    <span>Прежде чем приступить к оформлению данной процедуры внимательно прочитайте порядок оформления!</span>
</div>

<p class="text-center mt-6">
    СХЕМА ВНЕСЕНИЯ ИЗМЕНЕНИЯ В КОНСТРУКЦИЮ <br>
    (ПЕРЕОБОРУДОВАНИЯ) ТРАНСПОРТНОГО СРЕДСТВА
</p> 

<div class="mt-6">
    <h3 class="text-center text-3xl font-gilroy-bold">Получение разрешения</h3>   
    <form action="">
        <div class="grid grid-cols-1 mob_l:grid-cols-2 table_l:grid-cols-3 laptop:grid-cols-4 gap-3 table_l:gap-5 mt-6">
            {% for key, item in page.items %}                
                <div class="">
                    <input type="radio" name="tab" id="tab_{{ key }}" value="{{ item.id }}" data-request="onGetCabinetContent" class="hidden peer" {{ key == 0 ? 'checked' : '' }}>          
                    <label class="bg-white block h-full py-3 px-3 rounded-md hover:cursor-pointer peer-checked:bg-blue-2 peer-checked:text-white" for="tab_{{ key }}"> 
                        <div class="w-8 h-8 flex items-center justify-center text-xl bg-red-2 text-white rounded-full font-gilroy-bold">{{ key + 1 }}</div>
                        <h3 class="text-base table_l:text-lg font-gilroy-bold leading-tight mt-3">{{ item.name }}</h3>
                    </label> 
                </div>
            {% endfor %}
        </div>
    </form>
</div>

<div class="mt-6" id="content-result">
    {% partial 'pagecabinet/content' content=page.items | first . content | content %}   
</div>