<div class="border-t border-gray-10">
    <div class="container">
        {% partial 'breadcrumbs/wrap' items=breadcrumbs %}
    </div>
</div>

<div class="container pt-2 relative z-10 pb-[9rem]">

    <h1 class="text-2xl sm:text-3xl font-semibold mb-8">{{ this.page.title }}</h1>

    <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-x-2 sm:gap-x-5 gap-y-5 sm:gap-y-10">
        {% for item in items %}
            <div class="">
                <a href="{{ item.url }}" class="block relative gallery-item group">
                    <div class="rounded-lg overflow-hidden relative z-10 group-hover:-translate-y-[8px] transition-transform">
                        <img src="{{ item.photos | first . thumb(320,220,{mode:'crop'}) }}" alt="" class="block w-full h-auto">
                        <div class="absolute right-2 bottom-2 rounded-sm text-xs px-1 text-white leading-normal items-center bg-white/30 flex gap-1">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="size-4">
                                <path fill-rule="evenodd" d="M2 4a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V4Zm10.5 5.707a.5.5 0 0 0-.146-.353l-1-1a.5.5 0 0 0-.708 0L9.354 9.646a.5.5 0 0 1-.708 0L6.354 7.354a.5.5 0 0 0-.708 0l-2 2a.5.5 0 0 0-.146.353V12a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5V9.707ZM12 5a1 1 0 1 1-2 0 1 1 0 0 1 2 0Z" clip-rule="evenodd" />
                            </svg>
                            {{ item.photos | length }}
                        </div>
                    </div>
                    {% for key, photo in item.photos | slice(1,2) %}
                        <img src="{{ photo.thumb(320,220,{mode:'crop'}) }}" alt="" class="gallery-image" id="gallery-image-{{ key }}">
                    {% endfor %}         
                </a>
                <div class="pt-3 px-1">
                    <h3 class="font-semibold">
                        <a href="{{ item.url }}">{{ item.title }}</a>
                    </h3>
                </div>
            </div>
        {% endfor %}
    </div>

</div>